In [1]:
import pandas as pd
import numpy as np
from datetime import datetime, date, time, timedelta

In [2]:
def add_ipri_columns(df,ipri):
    ipri = ipri.rename(columns={'Countries':'tcoun'})
    df = df.merge(ipri, on='tcoun',how='left')
    df = df.rename(columns={'ipri':'ipri_t'})
    
    ipri = ipri.rename(columns={'tcoun':'icoun'})
    df = df.merge(ipri, on='icoun',how='left')
    return df

In [3]:
df = pd.read_csv("final_deals_wbd_wgi.csv")

c:\users\sneha\appdata\local\programs\python\python39\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (40,41) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [4]:
ipri = pd.read_excel("International Property Rights Index.xlsx")

In [5]:
ipri_cols =  [col for col in ipri if col.startswith('Score')]


ipri_selected = ipri[ipri_cols]

ipri_selected = ipri_selected.rename(columns = lambda x: x.split(' ')[1])
ipri_selected['Countries'] = ipri['Countries']
ipri_selected

,2019,2018,2017,2016,2015,2014,2013,2012,2011,2010,2009,2008,2007,Countries
0,4546,4525,3822,4004,3713,n.a.,4200,4400,4400,3799,3501,n.a.,n.a.,Albania
1,4435,4140,4160,4109,4079,4100,3700,4000,4300,3725,3973,n.a.,n.a.,Algeria
2,3115,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,Angola
3,5087,5025,4568,4122,3998,4400,4600,4600,4700,4361,4342,3800,3846,Argentina
4,4812,4714,4126,4203,4261,n.a.,4600,4400,4200,3839,3681,n.a.,n.a.,Armenia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
127,5084,5075,4930,4655,4490,4800,4700,4700,4900,4536,4392,n.a.,n.a.,Vietnam
128,2671,2792,2728,n.a.,2785,n.a.,n.a.,3000,n.a.,n.a.,n.a.,n.a.,n.a.,"Yemen, Rep."
129,4592,4732,4917,4791,4735,5100,4900,4700,4800,4511,4009,n.a.,n.a.,Zambia
130,3738,3844,3760,3402,3238,3800,3800,3700,3500,3178,3183,n.a.,n.a.,Zimbabwe
131,n.a,n.a,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a

In [6]:
df_d2014 = df[df['adateyear'] == 2014]
df_d2015 = df[df['adateyear'] == 2015]
df_d2016 = df[df['adateyear'] == 2016]
df_d2017 = df[df['adateyear'] == 2017]
df_d2018 = df[df['adateyear'] == 2018]
df_d2019 = df[df['adateyear'] == 2019]

In [7]:
ipri_2014 = ipri_selected[['Countries','2014']]
ipri_2014 = ipri_2014.rename(columns={'2014':'ipri'})
df_d2014 = add_ipri_columns(df_d2014,ipri_2014)
df_d2014.drop(['Unnamed: 0','Unnamed: 0.1'],axis=1,inplace=True)

In [8]:
ipri_2015 = ipri_selected[['Countries','2015']]
ipri_2015 = ipri_2015.rename(columns={'2015':'ipri'})
df_d2015 = add_ipri_columns(df_d2015,ipri_2015)
df_d2015.drop(['Unnamed: 0','Unnamed: 0.1'],axis=1,inplace=True)

In [9]:
ipri_2016 = ipri_selected[['Countries','2016']]
ipri_2016 = ipri_2016.rename(columns={'2016':'ipri'})
df_d2016 = add_ipri_columns(df_d2016,ipri_2016)
df_d2016.drop(['Unnamed: 0','Unnamed: 0.1'],axis=1,inplace=True)

In [10]:
ipri_2017 = ipri_selected[['Countries','2017']]
ipri_2017 = ipri_2017.rename(columns={'2017':'ipri'})
df_d2017 = add_ipri_columns(df_d2017,ipri_2017)
df_d2017.drop(['Unnamed: 0','Unnamed: 0.1'],axis=1,inplace=True)

In [11]:
ipri_2018 = ipri_selected[['Countries','2018']]
ipri_2018 = ipri_2018.rename(columns={'2018':'ipri'})
df_d2018= add_ipri_columns(df_d2018,ipri_2018)
df_d2018.drop(['Unnamed: 0','Unnamed: 0.1'],axis=1,inplace=True)

In [12]:
ipri_2019 = ipri_selected[['Countries','2019']]
ipri_2019 = ipri_2019.rename(columns={'2019':'ipri'})
df_d2019 = add_ipri_columns(df_d2019,ipri_2019)
df_d2019.drop(['Unnamed: 0','Unnamed: 0.1'],axis=1,inplace=True)

In [13]:
df_deals = df_d2014
df_deals = df_deals.append(df_d2015, ignore_index=True)
df_deals = df_deals.append(df_d2016, ignore_index=True)
df_deals = df_deals.append(df_d2017, ignore_index=True)
df_deals = df_deals.append(df_d2018, ignore_index=True)
df_deals = df_deals.append(df_d2019, ignore_index=True)

In [14]:
df_deals.drop(['Unnamed: 0.1.1'],axis=1,inplace=True)

In [15]:
df_deals

,dheadline,dnumber,dtype,dstatus,dvalue,dvalue_type,tname,tcoun,tcity,tregion,...,WGI_RL_t,WGI_CC_t,WGI_VA,WGI_pstabilityNV,WGI_GE,WGI_RQ,WGI_RL,WGI_CC,ipri_t,ipri
0,Umicore acquires remaining Todini stake from t...,1909653505,Acquisition increased from 48% to 100%,Completed,NaN,NaN,TODINI and CO SPA,Italy,MONZA,Lombardia/Monza e della Brianza,...,0.377391,-0.029642,1.366339,0.701269,1.381594,1.157765,1.523439,1.573292,6000,7500
1,Assa Abloy is to acquire Digi Electronic Loc,1909169178,Acquisition 100%,Completed Assumed,NaN,NaN,"DIGI ELECTRONIC LOCK CO.,LTD",China,Guangzhou,NaN,...,-0.414477,-0.340069,1.611089,1.065415,1.803889,1.811390,1.992006,2.153375,5500,8300
2,Albemarle Corporation and ICL agree Dutch join...,1909141490,Joint venture 100%,Completed Assumed,NaN,NaN,ALBEMARLE CORPORATION and ISRAEL CHEMICALS LTD...,Netherlands,NaN,NaN,...,1.980403,1.990494,0.727579,-1.039735,1.210812,1.216221,1.107663,0.865710,8100,6500
3,Mars exercises option to acquire Procter & Gam...,1909092068,Acquisition,Completed Assumed,NaN,NaN,PROCTER & GAMBLE COMPANY'S PET FOOD BUSINESS I...,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,BASF to acquire Taiwan Sheen Soon,1907080783,Acquisition 100%,Completed Assumed,NaN,NaN,"TAIWAN SHEEN SOON CO., LTD",Taiwan,CHANGHUA COUNTY,NaN,...,NaN,NaN,1.436330,0.925186,1.731392,1.703043,1.856834,1.838380,6900,7800
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55741,EREMA Group has bought a majority stake in Pla...,1941184659,Acquisition 60%,Completed,NaN,NaN,PLASMAC SRL,Italy,Milano,NaN,...,0.280191,0.239842,1.326599,0.980123,1.490911,1.459116,1.883051,1.545429,6126,8089
55742,Grant Thornton acquires Grayling Business Cons...,1941175947,Acquisition 100%,Completed,NaN,NaN,GRAYLING BUSINESS CONSULTING,Canada,Prince Albert,NaN,...,1.759940,1.766974,0.965248,0.297986,1.489182,1.345358,1.461094,1.215326,8264,8202
55743,SEB Dzivibas apdrosinasana to acquire SEB Gyvy...,1941129422,Acquisition 100%,Completed Assumed,NaN,NaN,SEB GYVYBES DRAUDIMAS UAB,Lithuania,VILNIAUS M.,NaN,...,1.022871,0.675986,0.884951,0.448848,1.105028,1.192686,1.013924,0.484940,6460,5936
55744,scc EDV and itelligence establish itelligence-scc,1939049805,Joint venture 100%,Completed,NaN,NaN,ITELLIGENCE-SCC AUSTRIA GMBH,Austria,WIEN,NaN,...,1.883051,1.545429,1.335724,0.582865,1.585309,1.723050,1.618773,1.895473,8089,7850
55745,Eucon Holding to acquire BJ Vast Universe Cult...,1907190387,Acquisition 100%,Completed Assumed,0.35,Official,"BJ VAST UNIVERSE CULTURE COMMUNICATION CO., LTD",China,Beijing,NaN,...,-0.274719,-0.323497,-0.183365,1.531602,2.221086,2.161377,1.878559,2.159477,6033,8462

In [16]:
df_deals.to_csv('Final_Deals_2020_ipri.csv')