These files were created as the merging of WBD and WGI and IPRI was incorrect
1. Run the projects_wbd_reconciliation.ipynb first
2. Then Run the projects_wgi_reconciliation.ipynb
3. Then this file

In [1]:
import pandas as pd
import numpy as np
from datetime import datetime, date, time, timedelta

In [2]:
def add_ipri_columns(df,ipri):
    ipri = ipri.rename(columns={'Countries':'dcoun'})
    df = df.merge(ipri, on='dcoun',how='left')
    df = df.rename(columns={'ipri':'ipri_d'})
    
    ipri = ipri.rename(columns={'dcoun':'icoun'})
    df = df.merge(ipri, on='icoun',how='left')
    return df

In [3]:
df = pd.read_csv("final_projects_wbd_wgi.csv")

//anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (44,45,74,75) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
ipri = pd.read_excel("International Property Rights Index.xlsx")
ipri

,Countries,Score 2019,Rank 2019,Score 2018,Rank 2018,Score 2017,Rank 2017,Score 2016,Rank 2016,Score 2015,...,Rank 2011,Score 2010,Rank 2010,Score 2009,Rank 2009,Score 2008,Rank 2008,Score 2007,Rank 2007,n.a.
0,Albania,4546,106,4525,102,3822,118,4004,111,3713,...,97,3799,106,3501,103,n.a.,n.a.,n.a.,n.a.,n.a.
1,Algeria,4435,108,4140,113,4160,106,4109,106,4079,...,103,3725,109,3973,91,n.a.,n.a.,n.a.,n.a.,n.a.
2,Angola,3115,126,n.a,n.a,n.a,n.a,n.a,n.a,n.a,...,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a
3,Argentina,5087,82,5025,79,4568,97,4122,103,3998,...,86,4361,83,4342,79,3800,54,3846,50,n.a.
4,Armenia,4812,93,4714,95,4126,107,4203,102,4261,...,105,3839,104,3681,98,n.a.,n.a.,n.a.,n.a.,n.a.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
127,Vietnam,5084,83,5075,76,4930,77,4655,84,4490,...,78,4536,78,4392,77,n.a.,n.a.,n.a.,n.a.,n.a.
128,"Yemen, Rep.",2671,129,2792,124,2728,127,n.a.,n.a.,2785,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.
129,Zambia,4592,102,4732,92,4917,79,4791,76,4735,...,82,4511,79,4009,89,n.a.,n.a.,n.a.,n.a.,n.a.
130,Zimbabwe,3738,123,3844,117,3760,120,3402,122,3238,...,121,3178,116,3183,111,n.a.,n.a.,n.a.,n.a.,n.a.
131,n.a,n.a,n.a,n.a,n.a,n.a.,n.a.,n.a.,n.a.,n.a.,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.

In [5]:
ipri_cols =  [col for col in ipri if col.startswith('Score')]


ipri_selected = ipri[ipri_cols]

ipri_selected = ipri_selected.rename(columns = lambda x: x.split(' ')[1])
ipri_selected['Countries'] = ipri['Countries']
ipri_selected

,2019,2018,2017,2016,2015,2014,2013,2012,2011,2010,2009,2008,2007,Countries
0,4546,4525,3822,4004,3713,n.a.,4200,4400,4400,3799,3501,n.a.,n.a.,Albania
1,4435,4140,4160,4109,4079,4100,3700,4000,4300,3725,3973,n.a.,n.a.,Algeria
2,3115,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,Angola
3,5087,5025,4568,4122,3998,4400,4600,4600,4700,4361,4342,3800,3846,Argentina
4,4812,4714,4126,4203,4261,n.a.,4600,4400,4200,3839,3681,n.a.,n.a.,Armenia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
127,5084,5075,4930,4655,4490,4800,4700,4700,4900,4536,4392,n.a.,n.a.,Vietnam
128,2671,2792,2728,n.a.,2785,n.a.,n.a.,3000,n.a.,n.a.,n.a.,n.a.,n.a.,"Yemen, Rep."
129,4592,4732,4917,4791,4735,5100,4900,4700,4800,4511,4009,n.a.,n.a.,Zambia
130,3738,3844,3760,3402,3238,3800,3800,3700,3500,3178,3183,n.a.,n.a.,Zimbabwe
131,n.a,n.a,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a

In [6]:
df_p2014 = df[df['adateyear'] == 2014]
df_p2015 = df[df['adateyear'] == 2015]
df_p2016 = df[df['adateyear'] == 2016]
df_p2017 = df[df['adateyear'] == 2017]
df_p2018 = df[df['adateyear'] == 2018]
df_p2019 = df[df['adateyear'] == 2019]

In [7]:
ipri_2014 = ipri_selected[['Countries','2014']]
ipri_2014 = ipri_2014.rename(columns={'2014':'ipri'})
df_p2014 = add_ipri_columns(df_p2014,ipri_2014)
df_p2014.drop(['Unnamed: 0','Unnamed: 0.1'],axis=1,inplace=True)

In [8]:
ipri_2015 = ipri_selected[['Countries','2015']]
ipri_2015 = ipri_2015.rename(columns={'2015':'ipri'})
df_p2015 = add_ipri_columns(df_p2015,ipri_2015)
df_p2015.drop(['Unnamed: 0','Unnamed: 0.1'],axis=1,inplace=True)

In [9]:
ipri_2016 = ipri_selected[['Countries','2016']]
ipri_2016 = ipri_2016.rename(columns={'2016':'ipri'})
df_p2016 = add_ipri_columns(df_p2016,ipri_2016)
df_p2016.drop(['Unnamed: 0','Unnamed: 0.1'],axis=1,inplace=True)

In [10]:
ipri_2017 = ipri_selected[['Countries','2017']]
ipri_2017 = ipri_2017.rename(columns={'2017':'ipri'})
df_p2017 = add_ipri_columns(df_p2017,ipri_2017)
df_p2017.drop(['Unnamed: 0','Unnamed: 0.1'],axis=1,inplace=True)

In [11]:
ipri_2018 = ipri_selected[['Countries','2018']]
ipri_2018 = ipri_2018.rename(columns={'2018':'ipri'})
df_p2018= add_ipri_columns(df_p2018,ipri_2018)
df_p2018.drop(['Unnamed: 0','Unnamed: 0.1'],axis=1,inplace=True)

In [12]:
ipri_2019 = ipri_selected[['Countries','2019']]
ipri_2019 = ipri_2019.rename(columns={'2019':'ipri'})
df_p2019 = add_ipri_columns(df_p2019,ipri_2019)
df_p2019.drop(['Unnamed: 0','Unnamed: 0.1'],axis=1,inplace=True)

In [13]:
df_projects = df_p2014
df_projects = df_projects.append(df_p2015, ignore_index=True)
df_projects = df_projects.append(df_p2016, ignore_index=True)
df_projects = df_projects.append(df_p2017, ignore_index=True)
df_projects = df_projects.append(df_p2018, ignore_index=True)
df_projects = df_projects.append(df_p2019, ignore_index=True)
df_projects.to_csv('final_projects.csv')