In [1]:
import pandas as pd
import numpy as np

IMP:: Some countries are not present in deals or some in deals are missing in the bmi and some names are dfferent. Manually changing names of different countries. Check BMI_Country_name_diff excel for details.

In [2]:
def get_year_data(bmi_data,year):
    cols = [c for c in bmi_data.columns if c.startswith(year) or c.startswith('Unnamed')]
    new_df =  bmi_data[cols]
    new_df.columns= ['Country','both_sexes','male','female']
    new_df['adate_year'] = year
    return new_df[2:]

In [16]:
bmi_data = pd.read_csv("BMI_data.csv")
bmi_data.head()

,Unnamed: 0,2016,2016.1,2016.2,2015,2015.1,2015.2,2014,2014.1,2014.2
0,NaN,"Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great..."
1,Country,Both sexes,Male,Female,Both sexes,Male,Female,Both sexes,Male,Female
2,Afghanistan,4.5 [2.8-6.7],2.7 [1.1-5.4],6.2 [3.5-10.2],4.3 [2.6-6.4],2.6 [1.1-5.1],6.0 [3.3-9.8],4.1 [2.5-6.1],2.4 [1.0-4.8],5.7 [3.2-9.4]
3,Albania,22.3 [17.4-27.4],21.9 [14.9-29.4],22.8 [16.1-30.1],21.7 [17.0-26.6],21.1 [14.6-28.4],22.2 [15.9-29.2],21.1 [16.6-25.7],20.4 [14.1-27.6],21.7 [15.6-28.4]
4,Algeria,26.6 [21.7-32.0],19.4 [13.2-26.5],34.0 [26.6-41.9],25.7 [21.0-30.8],18.5 [12.7-25.3],33.0 [25.9-40.6],24.8 [20.3-29.7],17.7 [12.1-24.1],32.0 [25.2-39.4]

In [17]:
bmi_data.loc[bmi_data['Unnamed: 0'] == 'Viet Nam','Unnamed: 0'] = 'Vietnam'

In [18]:
bmi_data.loc[bmi_data['Unnamed: 0'] == 'Venezuela (Bolivarian Republic of)','Unnamed: 0'] = 'Venezuela'

In [19]:
bmi_data.loc[bmi_data['Unnamed: 0'] == 'United Kingdom of Great Britain and Northern Ireland','Unnamed: 0'] = 'United Kingdom'

In [20]:
bmi_data.loc[bmi_data['Unnamed: 0'] == 'Myanmar','Unnamed: 0'] = 'Myanmar/Burma'

In [23]:
bmi_data.loc[bmi_data['Unnamed: 0'] == "Lao People's Democratic Republic",'Unnamed: 0'] = "Lao People'S Democratic Republic"
bmi_data.loc[bmi_data['Unnamed: 0'] == 'Iran (Islamic Republic of)','Unnamed: 0'] = 'Islamic Republic of Iran'
bmi_data.loc[bmi_data['Unnamed: 0'] == 'Democratic Republic of the Congo','Unnamed: 0'] = 'Democratic Republic of Congo'
bmi_data.loc[bmi_data['Unnamed: 0'] == "C�te d'Ivoire",'Unnamed: 0'] = "Côte D'Ivoire"
bmi_data.loc[bmi_data['Unnamed: 0'] == 'Czechia','Unnamed: 0'] = 'Czech Republic'

bmi_data.loc[bmi_data['Unnamed: 0'] == 'Bolivia (Plurinational State of)','Unnamed: 0'] = 'Bolivia'

In [24]:
coun = bmi_data[2:][['Unnamed: 0']]

bmi_country = [c for c in coun['Unnamed: 0']]
bmi_country

['Afghanistan',
 'Albania',
 'Algeria',
 'Andorra',
 'Angola',
 'Antigua and Barbuda',
 'Argentina',
 'Armenia',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahamas',
 'Bahrain',
 'Bangladesh',
 'Barbados',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bhutan',
 'Bolivia',
 'Bosnia and Herzegovina',
 'Botswana',
 'Brazil',
 'Brunei Darussalam',
 'Bulgaria',
 'Burkina Faso',
 'Burundi',
 'Cabo Verde',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Central African Republic',
 'Chad',
 'Chile',
 'China',
 'Colombia',
 'Comoros',
 'Congo',
 'Cook Islands',
 'Costa Rica',
 "Côte D'Ivoire",
 'Croatia',
 'Cuba',
 'Cyprus',
 'Czech Republic',
 "Democratic People's Republic of Korea",
 'Democratic Republic of Congo',
 'Denmark',
 'Djibouti',
 'Dominica',
 'Dominican Republic',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Equatorial Guinea',
 'Eritrea',
 'Estonia',
 'Eswatini',
 'Ethiopia',
 'Fiji',
 'Finland',
 'France',
 'Gabon',
 'Gambia',
 'Georgia',
 'Germany',
 'Ghana',
 'Greece',
 'Grenada',
 'Guatemala',
 'Guinea',
 'Guinea-Bissau',
 'Guyana',
 'Haiti',
 'Honduras',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Islamic Republic of Iran',
 'Iraq',
 'Ireland',
 'Israel',
 'Italy',
 'Jamaica',
 'Japan',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kiribati',
 'Kuwait',
 'Kyrgyzstan',
 "Lao People'S Democratic Republic",
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Libya',
 'Lithuania',
 'Luxembourg',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Maldives',
 'Mali',
 'Malta',
 'Marshall Islands',
 'Mauritania',
 'Mauritius',
 'Mexico',
 'Micronesia (Federated States of)',
 'Monaco',
 'Mongolia',
 'Montenegro',
 'Morocco',
 'Mozambique',
 'Myanmar/Burma',
 'Namibia',
 'Nauru',
 'Nepal',
 'Netherlands',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'Niue',
 'Norway',
 'Oman',
 'Pakistan',
 'Palau',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Qatar',
 'Republic of Korea',
 'Republic of Moldova',
 'North Macedonia',
 'Romania',
 'Russian Federation',
 'Rwanda',
 'Saint Kitts and Nevis',
 'Saint Lucia',
 'Saint Vincent and the Grenadines',
 'Samoa',
 'San Marino',
 'Sao Tome and Principe',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Seychelles',
 'Sierra Leone',
 'Singapore',
 'Slovakia',
 'Slovenia',
 'Solomon Islands',
 'Somalia',
 'South Africa',
 'South Sudan',
 'Spain',
 'Sri Lanka',
 'Sudan',
 'Sudan (former)',
 'Suriname',
 'Sweden',
 'Switzerland',
 'Syrian Arab Republic',
 'Tajikistan',
 'Thailand',
 'Timor-Leste',
 'Togo',
 'Tonga',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkey',
 'Turkmenistan',
 'Tuvalu',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom',
 'United Republic of Tanzania',
 'United States of America',
 'Uruguay',
 'Uzbekistan',
 'Vanuatu',
 'Venezuela',
 'Vietnam',
 'Yemen',
 'Zambia',
 'Zimbabwe']

In [25]:
#deals = pd.read_excel("Final_DEALS_2020.xlsx")
deals = pd.read_csv("Final_Deals_2020_companies.csv")

c:\users\sneha\appdata\local\programs\python\python38\lib\site-packages\IPython\core\interactiveshell.py:3155: DtypeWarning: Columns (39,40,233,234) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [26]:
deals_country = [c for c in deals['tcoun'].astype(str).unique()]

In [27]:
deals_country.sort()

In [28]:
deals_country

['Albania',
 'Algeria',
 'Andorra',
 'Angola',
 'Anguilla',
 'Antigua and Barbuda',
 'Argentina',
 'Armenia',
 'Aruba',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahamas',
 'Bahrain',
 'Bangladesh',
 'Barbados',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bermuda',
 'Bolivia',
 'Bosnia and Herzegovina',
 'Botswana',
 'Brazil',
 'Brunei Darussalam',
 'Bulgaria',
 'Burkina Faso',
 'Burundi',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Cape Verde',
 'Cayman Islands',
 'Chad',
 'Chile',
 'China',
 'Colombia',
 'Comoros',
 'Congo',
 'Cook Islands',
 'Costa Rica',
 'Croatia',
 'Cuba',
 'Curaçao',
 'Cyprus',
 'Czech Republic',
 "Côte D'Ivoire",
 'Democratic Republic of Congo',
 'Denmark',
 'Djibouti',
 'Dominica',
 'Dominican Republic',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Equatorial Guinea',
 'Eritrea',
 'Estonia',
 'Ethiopia',
 'Euro-Area / Western Europe / OECD / European Union enlarged (28) / United Nations / GAFI',
 'Fiji',
 'Finland',
 'France',
 'French Polynesia',
 'Gabon',
 'Gambia',
 'Georgia',
 'Germany',
 'Ghana',
 'Gibraltar',
 'Greece',
 'Greenland',
 'Guam',
 'Guatemala',
 'Guinea',
 'Guinea Bissau',
 'Guyana',
 'Haiti',
 'Honduras',
 'Hong Kong',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Iraq',
 'Ireland',
 'Islamic Republic of Iran',
 'Israel',
 'Italy',
 'Jamaica',
 'Japan',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kosovo',
 'Kuwait',
 'Kyrgyzstan',
 "Lao People'S Democratic Republic",
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Libya',
 'Liechtenstein',
 'Lithuania',
 'Luxembourg',
 'Macao',
 'Macedonia (Fyrom)',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Maldives',
 'Mali',
 'Malta',
 'Marshall Islands',
 'Mauritania',
 'Mauritius',
 'Mexico',
 'Monaco',
 'Mongolia',
 'Montenegro',
 'Morocco',
 'Mozambique',
 'Myanmar/Burma',
 'Namibia',
 'Nepal',
 'Netherlands',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'North America / OECD / G8 / G10 / United Nations / North America Free Trade Area / GAFI',
 'Norway',
 'Oman',
 'Pakistan',
 'Palau',
 'Palestinian Territories',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Puerto Rico',
 'Qatar',
 'Republic of Korea',
 'Republic of Moldova',
 'Romania',
 'Russian Federation',
 'Rwanda',
 'Saint Kitts and Nevis',
 'Saint Lucia',
 'Samoa',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Seychelles',
 'Sierra Leone',
 'Singapore',
 'Slovakia',
 'Slovenia',
 'Solomon Islands',
 'Somalia',
 'South Africa',
 'Spain',
 'Sri Lanka',
 'Sudan',
 'Supranational',
 'Suriname',
 'Swaziland',
 'Sweden',
 'Switzerland',
 'Taiwan',
 'Tajikistan',
 'Thailand',
 'Timor-Leste',
 'Togo',
 'Tonga',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkey',
 'Turkmenistan',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom',
 'United Nations / Far East and Central Asia',
 'United Republic of Tanzania',
 'United States of America',
 'Uruguay',
 'Uzbekistan',
 'Vanuatu',
 'Venezuela',
 'Vietnam',
 'Virgin Islands (British)',
 'Western Europe / Nordic States / Scandinavia / OECD / European Union enlarged (28) / G10 / United Nations / GAFI',
 'Yemen',
 'Zambia',
 'Zimbabwe',
 'nan']

Cross check if country names match. Some country data is missing in BMI. and BMi has some additional country data

In [29]:
list(set(bmi_country) - set(deals_country))

['South Sudan',
 'Saint Vincent and the Grenadines',
 'Bhutan',
 'Afghanistan',
 "Democratic People's Republic of Korea",
 'Kiribati',
 'Eswatini',
 'Micronesia (Federated States of)',
 'Central African Republic',
 'Sudan (former)',
 'Cabo Verde',
 'Guinea-Bissau',
 'Tuvalu',
 'Sao Tome and Principe',
 'Nauru',
 'Niue',
 'Grenada',
 'Syrian Arab Republic',
 'North Macedonia',
 'San Marino']

Get the year data

In [30]:
bmi_data

,Unnamed: 0,2016,2016.1,2016.2,2015,2015.1,2015.2,2014,2014.1,2014.2
0,NaN,"Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great..."
1,Country,Both sexes,Male,Female,Both sexes,Male,Female,Both sexes,Male,Female
2,Afghanistan,4.5 [2.8-6.7],2.7 [1.1-5.4],6.2 [3.5-10.2],4.3 [2.6-6.4],2.6 [1.1-5.1],6.0 [3.3-9.8],4.1 [2.5-6.1],2.4 [1.0-4.8],5.7 [3.2-9.4]
3,Albania,22.3 [17.4-27.4],21.9 [14.9-29.4],22.8 [16.1-30.1],21.7 [17.0-26.6],21.1 [14.6-28.4],22.2 [15.9-29.2],21.1 [16.6-25.7],20.4 [14.1-27.6],21.7 [15.6-28.4]
4,Algeria,26.6 [21.7-32.0],19.4 [13.2-26.5],34.0 [26.6-41.9],25.7 [21.0-30.8],18.5 [12.7-25.3],33.0 [25.9-40.6],24.8 [20.3-29.7],17.7 [12.1-24.1],32.0 [25.2-39.4]
...,...,...,...,...,...,...,...,...,...,...
192,Venezuela,25.2 [20.9-29.8],22.1 [16.1-28.6],28.3 [22.2-34.9],24.7 [20.6-29.1],21.6 [15.9-27.8],27.8 [21.9-34.2],24.3 [20.3-28.5],21.1 [15.7-27.0],27.4 [21.7-33.5]
193,Vietnam,2.1 [1.4-3.1],1.6 [0.8-2.8],2.6 [1.5-4.2],1.9 [1.3-2.8],1.5 [0.8-2.5],2.4 [1.4-3.9],1.8 [1.2-2.6],1.3 [0.7-2.2],2.2 [1.3-3.5]
194,Yemen,14.1 [10.8-17.8],9.9 [6.0-14.8],18.2 [13.1-24.0],13.5 [10.4-16.9],9.4 [5.7-13.9],17.5 [12.7-23.0],12.9 [10.0-16.1],8.9 [5.4-13.1],16.9 [12.3-22.0]
195,Zambia,6.5 [4.6-8.8],3.0 [1.4-5.6],10.0 [6.7-14.0],6.2 [4.4-8.4],2.9 [1.3-5.3],9.6 [6.5-13.3],6.0 [4.2-7.9],2.7 [1.3-5.0],9.2 [6.3-12.7]
196,Zimbabwe,12.3 [9.4-15.6],3.7 [2.0-6.3],20.5 [15.2-26.7],11.9 [9.2-15.0],3.5 [1.9-6.0],20.0 [14.9-25.9],11.6 [9.0-14.6],3.4 [1.8-5.6],19.5 [14.7-25.1]

In [31]:
years = ['2014','2015','2016']
df = []

for yr in years:
    df.append(get_year_data(bmi_data,yr))

bmi_df = pd.concat(df)
print(bmi_df)

         Country        both_sexes              male            female  \
2    Afghanistan     4.1 [2.5-6.1]     2.4 [1.0-4.8]     5.7 [3.2-9.4]
3        Albania  21.1 [16.6-25.7]  20.4 [14.1-27.6]  21.7 [15.6-28.4]
4        Algeria  24.8 [20.3-29.7]  17.7 [12.1-24.1]  32.0 [25.2-39.4]
5        Andorra  27.3 [21.7-33.0]  27.0 [19.1-35.3]  27.6 [19.8-35.9]
6         Angola     6.2 [3.8-9.4]     3.1 [1.2-6.0]    9.2 [5.1-14.8]
..           ...               ...               ...               ...
192    Venezuela  25.2 [20.9-29.8]  22.1 [16.1-28.6]  28.3 [22.2-34.9]
193      Vietnam     2.1 [1.4-3.1]     1.6 [0.8-2.8]     2.6 [1.5-4.2]
194        Yemen  14.1 [10.8-17.8]    9.9 [6.0-14.8]  18.2 [13.1-24.0]
195       Zambia     6.5 [4.6-8.8]     3.0 [1.4-5.6]   10.0 [6.7-14.0]
196     Zimbabwe   12.3 [9.4-15.6]     3.7 [2.0-6.3]  20.5 [15.2-26.7]

    adate_year
2         2014
3         2014
4         2014
5         2014
6         2014
..         ...
192       2016
193       2016
194       2016
195       2016
196       2016

[585 rows x 5 columns]

<ipython-input-2-b5401d5774ef>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['adate_year'] = year

## Merge tcoun data using adate

In [32]:
bmi_t = bmi_df
bmi_t.columns = ['tcoun','bmi_both_sexes_t','bmi_male_t','bmi_female_t','adateyear']
bmi_t

,tcoun,bmi_both_sexes_t,bmi_male_t,bmi_female_t,adateyear
2,Afghanistan,4.1 [2.5-6.1],2.4 [1.0-4.8],5.7 [3.2-9.4],2014
3,Albania,21.1 [16.6-25.7],20.4 [14.1-27.6],21.7 [15.6-28.4],2014
4,Algeria,24.8 [20.3-29.7],17.7 [12.1-24.1],32.0 [25.2-39.4],2014
5,Andorra,27.3 [21.7-33.0],27.0 [19.1-35.3],27.6 [19.8-35.9],2014
6,Angola,6.2 [3.8-9.4],3.1 [1.2-6.0],9.2 [5.1-14.8],2014
...,...,...,...,...,...
192,Venezuela,25.2 [20.9-29.8],22.1 [16.1-28.6],28.3 [22.2-34.9],2016
193,Vietnam,2.1 [1.4-3.1],1.6 [0.8-2.8],2.6 [1.5-4.2],2016
194,Yemen,14.1 [10.8-17.8],9.9 [6.0-14.8],18.2 [13.1-24.0],2016
195,Zambia,6.5 [4.6-8.8],3.0 [1.4-5.6],10.0 [6.7-14.0],2016
196,Zimbabwe,12.3 [9.4-15.6],3.7 [2.0-6.3],20.5 [15.2-26.7],2016

In [33]:
deals['adateyear']

0        2014.0
1        2014.0
2        2014.0
3        2014.0
4        2014.0
          ...
55743    2019.0
55744    2019.0
55745    2019.0
55746    2019.0
55747    2019.0
Name: adateyear, Length: 55748, dtype: float64

In [34]:
deals['adateyear'].dtype

dtype('float64')

In [35]:

bmi_t['adateyear']=bmi_t['adateyear'].astype(int)
deals['adateyear'] = deals['adateyear'].astype(int)

In [36]:
a = pd.merge(deals, bmi_t,how="left" ,on=["tcoun","adateyear"]) 
a

,Unnamed: 0,Unnamed: 0.1,dheadline,dnumber,dtype,dstatus,dvalue,dvalue_type,tname,tcoun,...,OperPS,OPPS,DPS,BVPS,TBVPS,LTLPS,WCPS,bmi_both_sexes_t,bmi_male_t,bmi_female_t
0,0,0,Umicore acquires remaining Todini stake from t...,1909653505,Acquisition increased from 48% to 100%,Completed,NaN,NaN,TODINI and CO SPA,Italy,...,56.8616706608534,1.64250805842876,0.634385983943939,9.90331684935093,8.6497149810791,2.52237383615971,5.80187355315685,22.1 [19.0-25.5],21.5 [17.1-26.3],22.7 [18.1-27.6]
1,1,1,Assa Abloy is to acquire Digi Electronic Loc,1909169178,Acquisition 100%,Completed Assumed,NaN,NaN,"DIGI ELECTRONIC LOCK CO.,LTD",China,...,7.15666770045459,1.0240045273006,0.31134220957756,4.25137787178159,-1.39683682326973,2.96709125727415,1.56932040737569,5.8 [4.6-7.3],5.4 [3.7-7.4],6.4 [4.6-8.5]
2,2,2,Albemarle Corporation and ICL agree Dutch join...,1909141490,Joint venture 100%,Completed Assumed,NaN,NaN,ALBEMARLE CORPORATION and ISRAEL CHEMICALS LTD...,Netherlands,...,4.93863428288698,0.871794851243496,0.498415430486202,2.89052139541507,2.26879856362939,1.83462974643707,1.41140878263116,22.1 [18.8-25.6],21.5 [16.8-26.6],22.6 [18.1-27.2]
3,3,3,Mars exercises option to acquire Procter & Gam...,1909092068,Acquisition,Completed Assumed,NaN,NaN,PROCTER & GAMBLE COMPANY'S PET FOOD BUSINESS I...,NaN,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,NaN,NaN,NaN
4,4,4,BASF to acquire Taiwan Sheen Soon,1907080783,Acquisition 100%,Completed Assumed,NaN,NaN,"TAIWAN SHEEN SOON CO., LTD",Taiwan,...,112.225638759613,10.0150239465237,3.7235699057579,41.5509028483629,23.0461395167112,33.321813356638,22.88340572083,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55743,55743,55741,EREMA Group has bought a majority stake in Pla...,1941184659,Acquisition 60%,Completed,NaN,NaN,PLASMAC SRL,Italy,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,NaN,NaN,NaN
55744,55744,55742,Grant Thornton acquires Grayling Business Cons...,1941175947,Acquisition 100%,Completed,NaN,NaN,GRAYLING BUSINESS CONSULTING,Canada,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,NaN,NaN,NaN
55745,55745,55743,SEB Dzivibas apdrosinasana to acquire SEB Gyvy...,1941129422,Acquisition 100%,Completed Assumed,NaN,NaN,SEB GYVYBES DRAUDIMAS UAB,Lithuania,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,NaN,NaN,NaN
55746,55746,55744,scc EDV and itelligence establish itelligence-scc,1939049805,Joint venture 100%,Completed,NaN,NaN,ITELLIGENCE-SCC AUSTRIA GMBH,Austria,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,NaN,NaN,NaN
55747,55747,55745,Eucon Holding to acquire BJ Vast Universe Cult...,1907190387,Acquisition 100%,Completed Assumed,0.35,Official,"BJ VAST UNIVERSE CULTURE COMMUNICATION CO., LTD",China,...,0,0,n.a.,0.0117233295440674,n.a.,0,n.a.,NaN,NaN,NaN

## Merge icoun data based on adate

In [37]:
bmi_i = bmi_df
bmi_i.columns = ['icoun','bmi_both_sexes','bmi_male','bmi_female','adateyear']
bmi_i

,icoun,bmi_both_sexes,bmi_male,bmi_female,adateyear
2,Afghanistan,4.1 [2.5-6.1],2.4 [1.0-4.8],5.7 [3.2-9.4],2014
3,Albania,21.1 [16.6-25.7],20.4 [14.1-27.6],21.7 [15.6-28.4],2014
4,Algeria,24.8 [20.3-29.7],17.7 [12.1-24.1],32.0 [25.2-39.4],2014
5,Andorra,27.3 [21.7-33.0],27.0 [19.1-35.3],27.6 [19.8-35.9],2014
6,Angola,6.2 [3.8-9.4],3.1 [1.2-6.0],9.2 [5.1-14.8],2014
...,...,...,...,...,...
192,Venezuela,25.2 [20.9-29.8],22.1 [16.1-28.6],28.3 [22.2-34.9],2016
193,Vietnam,2.1 [1.4-3.1],1.6 [0.8-2.8],2.6 [1.5-4.2],2016
194,Yemen,14.1 [10.8-17.8],9.9 [6.0-14.8],18.2 [13.1-24.0],2016
195,Zambia,6.5 [4.6-8.8],3.0 [1.4-5.6],10.0 [6.7-14.0],2016
196,Zimbabwe,12.3 [9.4-15.6],3.7 [2.0-6.3],20.5 [15.2-26.7],2016

In [39]:
icoun_d = pd.merge(a, bmi_i,how="left" ,on=["icoun","adateyear"]) 
icoun_d

,Unnamed: 0,Unnamed: 0.1,dheadline,dnumber,dtype,dstatus,dvalue,dvalue_type,tname,tcoun,...,BVPS,TBVPS,LTLPS,WCPS,bmi_both_sexes_t,bmi_male_t,bmi_female_t,bmi_both_sexes,bmi_male,bmi_female
0,0,0,Umicore acquires remaining Todini stake from t...,1909653505,Acquisition increased from 48% to 100%,Completed,NaN,NaN,TODINI and CO SPA,Italy,...,9.90331684935093,8.6497149810791,2.52237383615971,5.80187355315685,22.1 [19.0-25.5],21.5 [17.1-26.3],22.7 [18.1-27.6],23.7 [20.4-27.2],24.1 [19.3-29.2],23.3 [18.4-28.3]
1,1,1,Assa Abloy is to acquire Digi Electronic Loc,1909169178,Acquisition 100%,Completed Assumed,NaN,NaN,"DIGI ELECTRONIC LOCK CO.,LTD",China,...,4.25137787178159,-1.39683682326973,2.96709125727415,1.56932040737569,5.8 [4.6-7.3],5.4 [3.7-7.4],6.4 [4.6-8.5],21.2 [17.8-24.6],23.1 [18.2-28.2],19.4 [14.8-24.2]
2,2,2,Albemarle Corporation and ICL agree Dutch join...,1909141490,Joint venture 100%,Completed Assumed,NaN,NaN,ALBEMARLE CORPORATION and ISRAEL CHEMICALS LTD...,Netherlands,...,2.89052139541507,2.26879856362939,1.83462974643707,1.41140878263116,22.1 [18.8-25.6],21.5 [16.8-26.6],22.6 [18.1-27.2],25.9 [21.6-30.6],25.1 [18.9-31.7],26.8 [20.5-33.3]
3,3,3,Mars exercises option to acquire Procter & Gam...,1909092068,Acquisition,Completed Assumed,NaN,NaN,PROCTER & GAMBLE COMPANY'S PET FOOD BUSINESS I...,NaN,...,n.a.,n.a.,n.a.,n.a.,NaN,NaN,NaN,NaN,NaN,NaN
4,4,4,BASF to acquire Taiwan Sheen Soon,1907080783,Acquisition 100%,Completed Assumed,NaN,NaN,"TAIWAN SHEEN SOON CO., LTD",Taiwan,...,41.5509028483629,23.0461395167112,33.321813356638,22.88340572083,NaN,NaN,NaN,24.7 [21.3-28.2],25.4 [20.6-30.6],24.1 [19.5-28.9]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55743,55743,55741,EREMA Group has bought a majority stake in Pla...,1941184659,Acquisition 60%,Completed,NaN,NaN,PLASMAC SRL,Italy,...,n.a.,n.a.,n.a.,n.a.,NaN,NaN,NaN,NaN,NaN,NaN
55744,55744,55742,Grant Thornton acquires Grayling Business Cons...,1941175947,Acquisition 100%,Completed,NaN,NaN,GRAYLING BUSINESS CONSULTING,Canada,...,n.a.,n.a.,n.a.,n.a.,NaN,NaN,NaN,NaN,NaN,NaN
55745,55745,55743,SEB Dzivibas apdrosinasana to acquire SEB Gyvy...,1941129422,Acquisition 100%,Completed Assumed,NaN,NaN,SEB GYVYBES DRAUDIMAS UAB,Lithuania,...,n.a.,n.a.,n.a.,n.a.,NaN,NaN,NaN,NaN,NaN,NaN
55746,55746,55744,scc EDV and itelligence establish itelligence-scc,1939049805,Joint venture 100%,Completed,NaN,NaN,ITELLIGENCE-SCC AUSTRIA GMBH,Austria,...,n.a.,n.a.,n.a.,n.a.,NaN,NaN,NaN,NaN,NaN,NaN
55747,55747,55745,Eucon Holding to acquire BJ Vast Universe Cult...,1907190387,Acquisition 100%,Completed Assumed,0.35,Official,"BJ VAST UNIVERSE CULTURE COMMUNICATION CO., LTD",China,...,0.0117233295440674,n.a.,0,n.a.,NaN,NaN,NaN,NaN,NaN,NaN

In [40]:
icoun_d.shape

(55748, 276)

In [41]:
icoun_d.to_csv('final_deals_2020_bmi.csv')

In [25]:
icoun_d.to_excel("final_deals_2020_bmi.xlsx")