In [1]:
import pandas as pd
import numpy as np
import random
import math

In [2]:
def get_yearwise_proj_data(df,year):
    bvdid_list = df[df['adate_year']==year]['iBVDid']
    bvdid_list = bvdid_list.dropna()
    bvdid_list = bvdid_list.reset_index()
    bvdid_list.drop(['index'],axis=1,inplace=True)
    return bvdid_list

In [3]:
def get_yearwise_rdate_proj_data(df,year):
    bvdid_list = df[df['rdate_year']==year]['iBVDid']
    bvdid_list = bvdid_list.dropna()
    bvdid_list = bvdid_list.reset_index()
    bvdid_list.drop(['index'],axis=1,inplace=True)
    return bvdid_list

In [35]:
df2 = pd.read_csv("final_projects.csv")

c:\users\sneha\appdata\local\programs\python\python39\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (43,44,73,74,287,288) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

# Get year wise BVDID

In [36]:
df = df2

In [37]:

df['adate_year'] = (pd.to_datetime(df['adate']).dt.year).astype('Int64')

In [38]:
for year in df['adate_year'].unique():
    if not pd.isnull(year):
        bvdid_list=get_yearwise_proj_data(df,year)
        bvdid_list.to_csv(r'BDVID_List_'+str(year)+'.txt',header=None,index=None)

In [39]:
r_df = df[df['adate_year'].isnull()]

In [40]:
r_df['rdate_year'] = (pd.to_datetime(df['rdate']).dt.year).astype('Int64')

<ipython-input-40-3829bb308ad5>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  r_df['rdate_year'] = (pd.to_datetime(df['rdate']).dt.year).astype('Int64')

In [41]:
r_df['rdate_year'].unique()

<IntegerArray>
[2014, 2015, 2016, 2017, 2018, 2019]
Length: 6, dtype: Int64

In [42]:
for year in r_df['rdate_year'].unique():
    if not pd.isnull(year):
        bvdid_list=get_yearwise_rdate_proj_data(r_df,year)
        bvdid_list.to_csv(r'Rdate_BDVID_List_'+str(year)+'.txt',header=None,index=None)

Files are created for all years except NA

Now get data for companies from ORBIS website for these iBVDid

# After getting data from orbis merge intop the project file

In [43]:
comp_2013 = pd.read_excel('companies_2013.xlsx',sheet_name='Results')
comp_2013.columns
#from openpyxl import load_workbook
#wb = load_workbook(filename = 'companies_2013.xlsx')
#ws = wb.get_sheet_by_name(name = 'Results')

Index(['Unnamed: 0', 'Company name Latin alphabet', 'Postcode\nLatin Alphabet',
       'City\nLatin Alphabet', 'Country', 'World region', 'Telephone number',
       'Fax number', 'Website address', 'E-mail address',
       ...
       'LEI (Legal Entity Identifier)', 'Ticker symbol.1', 'ISIN number',
       'Company name\nLatin Alphabet', 'Previous company name\nLatin Alphabet',
       'National legal form', 'Date of incorporation',
       'Latest annual account closing date', 'Last avail. year',
       'Original currency\nLast avail. yr'],
      dtype='object', length=157)

In [44]:
comp_2013[comp_2013['BvD ID number']=='DE2070000543'][['Total number of projects','Trade description (English)']]

   Total number of projects                        Trade description (English)
0                      89.0  The Automotive Division of Volkswagen AG devel...

In [45]:
col1 = [
'BvD ID number',
'Operating revenue (Turnover)\nm USD 2013' ,
'P/L before tax\nm USD 2013' ,
'Working capital\nm USD 2013' ,
'Cash & cash equivalent\nm USD 2013' ,
'Total Liabilities and Equity\nm USD 2013' ,
'Short Term Debt, Net\nm USD 2013' ,
'Long Term Debt, Net\nm USD 2013' ,
'Number of employees\n2013' ,
'Export revenue\nm USD 2013' ,
'Costs of employees\nm USD 2013' ,
'Research & Development expenses\nm USD 2013' ,
'Cash flow\nm USD 2013' ,
'EBITDA\nm USD 2013' ,
'Profit margin (%)\n2013' ,
'Export revenue / Operating revenue (%)\n2013' ,
'R&D expenses / Operating revenue (%)\n2013', 
'Current ratio (x)\n2013' ,
'Liquidity ratio (x)\n2013' ,
'Profit per employee (th)\nth USD 2013' ,
'Operating revenue per employee (th)\nth USD 2013' ,
'Costs of employees / Operating revenue (%)\n2013' ,
'GUO - BvD ID number' ,
'Market price - year end\nUSD 2013' ,
'Market price - high\nUSD 2013' ,
'Market price - low\nUSD 2013' ,
'Earnings per share\nUSD 2013' ,
'Nominal value\n2013' ,
'Market capitalisation (mil)\nm USD 2013' ,
'Cash flow per share\nUSD 2013' ,
'Capital expenditure per share\nUSD 2013' ,
'Earnings per share\nUSD 2013' ,
'Operating revenue (Turnover) per share\nUSD 2013' ,
'Operating profit per share\nUSD 2013' ,
'Dividends per share\nUSD 2013' ,
'Book Value per share\nUSD 2013' ,
'Tangible Book Value per share\nUSD 2013' ,
'Long Term Liabilities per share\nUSD 2013' ,
'Working Capital per share\nUSD 2013' ,
 ]

In [46]:
col2 = [
'iBVDid',
'oper_turnover',
'PL_beforetax',
'wcapital',
'cash',
'TLE',
'ST_debt',
'LT_debt',
'empl',
'EXP',
'cost_empl',
'RD',
'cashflow',
'EBITDA',
'profit_margin',
'ER_OR',
'RD_OR',
'current_ratio',
'iliquidity_ratio',
'profit_empl',
'OR_empl',
'cost_empl_OR',
'gBVDid_comp',
'MP_current',
'MP_high',
'MP_low',
'Eshare',
'nvalue',
'mcapital',
'CF_share',
'expen_share',
'EPS',
'OperPS',
'OPPS',
'DPS',
'BVPS',
'TBVPS',
'LTLPS',
'WCPS'
]

In [47]:
col1

['BvD ID number',
 'Operating revenue (Turnover)\nm USD 2013',
 'P/L before tax\nm USD 2013',
 'Working capital\nm USD 2013',
 'Cash & cash equivalent\nm USD 2013',
 'Total Liabilities and Equity\nm USD 2013',
 'Short Term Debt, Net\nm USD 2013',
 'Long Term Debt, Net\nm USD 2013',
 'Number of employees\n2013',
 'Export revenue\nm USD 2013',
 'Costs of employees\nm USD 2013',
 'Research & Development expenses\nm USD 2013',
 'Cash flow\nm USD 2013',
 'EBITDA\nm USD 2013',
 'Profit margin (%)\n2013',
 'Export revenue / Operating revenue (%)\n2013',
 'R&D expenses / Operating revenue (%)\n2013',
 'Current ratio (x)\n2013',
 'Liquidity ratio (x)\n2013',
 'Profit per employee (th)\nth USD 2013',
 'Operating revenue per employee (th)\nth USD 2013',
 'Costs of employees / Operating revenue (%)\n2013',
 'GUO - BvD ID number',
 'Market price - year end\nUSD 2013',
 'Market price - high\nUSD 2013',
 'Market price - low\nUSD 2013',
 'Earnings per share\nUSD 2013',
 'Nominal value\n2013',
 'Market capitalisation (mil)\nm USD 2013',
 'Cash flow per share\nUSD 2013',
 'Capital expenditure per share\nUSD 2013',
 'Earnings per share\nUSD 2013',
 'Operating revenue (Turnover) per share\nUSD 2013',
 'Operating profit per share\nUSD 2013',
 'Dividends per share\nUSD 2013',
 'Book Value per share\nUSD 2013',
 'Tangible Book Value per share\nUSD 2013',
 'Long Term Liabilities per share\nUSD 2013',
 'Working Capital per share\nUSD 2013']

In [48]:
col_combines = pd.DataFrame({'company':col1,'project':col2})
col_combines

                                             company           project
0                                      BvD ID number            iBVDid
1           Operating revenue (Turnover)\nm USD 2013     oper_turnover
2                         P/L before tax\nm USD 2013      PL_beforetax
3                        Working capital\nm USD 2013          wcapital
4                 Cash & cash equivalent\nm USD 2013              cash
5           Total Liabilities and Equity\nm USD 2013               TLE
6                   Short Term Debt, Net\nm USD 2013           ST_debt
7                    Long Term Debt, Net\nm USD 2013           LT_debt
8                          Number of employees\n2013              empl
9                         Export revenue\nm USD 2013               EXP
10                    Costs of employees\nm USD 2013         cost_empl
11       Research & Development expenses\nm USD 2013                RD
12                             Cash flow\nm USD 2013          cashflow
13                                EBITDA\nm USD 2013            EBITDA
14                           Profit margin (%)\n2013     profit_margin
15      Export revenue / Operating revenue (%)\n2013             ER_OR
16        R&D expenses / Operating revenue (%)\n2013             RD_OR
17                           Current ratio (x)\n2013     current_ratio
18                         Liquidity ratio (x)\n2013  iliquidity_ratio
19             Profit per employee (th)\nth USD 2013       profit_empl
20  Operating revenue per employee (th)\nth USD 2013           OR_empl
21  Costs of employees / Operating revenue (%)\n2013      cost_empl_OR
22                               GUO - BvD ID number       gBVDid_comp
23                 Market price - year end\nUSD 2013        MP_current
24                     Market price - high\nUSD 2013           MP_high
25                      Market price - low\nUSD 2013            MP_low
26                      Earnings per share\nUSD 2013            Eshare
27                               Nominal value\n2013            nvalue
28           Market capitalisation (mil)\nm USD 2013          mcapital
29                     Cash flow per share\nUSD 2013          CF_share
30           Capital expenditure per share\nUSD 2013       expen_share
31                      Earnings per share\nUSD 2013               EPS
32  Operating revenue (Turnover) per share\nUSD 2013            OperPS
33              Operating profit per share\nUSD 2013              OPPS
34                     Dividends per share\nUSD 2013               DPS
35                    Book Value per share\nUSD 2013              BVPS
36           Tangible Book Value per share\nUSD 2013             TBVPS
37         Long Term Liabilities per share\nUSD 2013             LTLPS
38               Working Capital per share\nUSD 2013              WCPS

# Read Projects Data

//anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (43,44,73,74,287,288) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [49]:
comp_2013_selected = comp_2013[col1]
comp_2013_selected.columns = col2

In [50]:
comp_2013_selected

,iBVDid,oper_turnover,PL_beforetax,wcapital,cash,TLE,ST_debt,LT_debt,empl,EXP,...,CF_share,expen_share,EPS,OperPS,OPPS,DPS,BVPS,TBVPS,LTLPS,WCPS
0,DE2070000543,280191.739908,17139.454366,30013.35254,43676.095895,447287.628979,n.a.,n.a.,572800,n.a.,...,107.972494,n.a.,39.267113,949.513084,53.744905,5.5164,420.796498,143.924251,540.578225,101.708622
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59416,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59417,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59418,KR1201110085995,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.
59419,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59420,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
c_c = pd.DataFrame(comp_2013.columns)
c_c.to_csv(r'comp_cols.txt',header=None,index=None)

In [51]:
p_2014 = df[df['adate_year']==2014]
p_2014

,Unnamed: 0,pheadline,pnumber,ptype,pstatus,iexpen,PBD,iname,iBVDid,gname,...,WGI_CC_d,WGI_VA,WGI_pstabilityNV,WGI_GE,WGI_RQ,WGI_RL,WGI_CC,ipri_d,ipri,adate_year
0,0,"BayWa to expand sales office in Edinburgh, Sco...",999379749,Expansion,Completed Assumed,1.91,Sales Office,BAYWA RE RENEWABLE ENERGY GMBH,DE8170725443,BAYERISCHE RAIFFEISEN-BETEILIGUNGS-AG,...,1.738478,1.436330,0.925186,1.731392,1.703043,1.856834,1.838380,7800,7800,2014
1,1,Vilebrequin to open clothing store in Brussels...,953988958,New,Completed Assumed,0.82,Retail,TRB INTERNATIONAL SA,LULB26186,G-111 APPAREL GROUP LTD,...,1.573292,1.554682,1.378324,1.654433,1.630896,1.906488,2.073182,7500,8100,2014
2,2,"Replay to open clothing store in New York, USA",946529918,New,Completed Assumed,1.31,Retail,FASHION BOX SPA,IT03676290269,EQUIBOX HOLDING SPA,...,1.376068,0.999263,0.458165,0.374144,0.641883,0.377391,-0.029642,7700,6000,2014
3,3,SKF to establish new research and development ...,941723112,New,Completed Assumed,30,R&D Centre,SKF AB,SE5560073495,FAM AB,...,1.376068,1.611089,1.065415,1.803889,1.811390,1.992006,2.153375,7700,8300,2014
4,4,"Hilton Worldwide to open hotel in Agra, India",931655359,New,Completed Assumed,21.77,Hotels,HILTON WORLDWIDE HOLDINGS INC.,US274384691,HILTON WORLDWIDE,...,-0.428024,1.071223,0.582420,1.467586,1.281425,1.610473,1.376068,5500,7700,2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
607,607,Kaplan International Holdings Ltd's sales offi...,866048896/1,New,Completed Assumed,0.44,Sales Office,KAPLAN INTERNATIONAL HOLDINGS LTD,GB04178272,GRAHAM HOLDINGS COMPANY,...,-0.761709,1.275790,0.415348,1.626730,1.825786,1.889571,1.738478,5200,7800,2014
608,608,KWS Saat SE's seed research and development ce...,868746077/2,New,Completed Assumed,6.85,Sales Office,KWS SAAT SE,DE2110001491,KWS SAAT SE,...,1.376068,1.436330,0.925186,1.731392,1.703043,1.856834,1.838380,7700,7800,2014
609,609,"KWS Saat SE's sales office in St. Louis, Misso...",868746077/1,New,Completed Assumed,6.85,Sales Office,KWS SAAT SE,DE2110001491,KWS SAAT SE,...,1.376068,1.436330,0.925186,1.731392,1.703043,1.856834,1.838380,7700,7800,2014
610,610,E&I Engineering is to open an electrical switc...,173088879,New,Completed Assumed,17,Manufacturing,E&I ENGINEERING LTD,IE401248,POWERBAR (EUROPE) LTD,...,1.376068,1.317501,1.052991,1.597105,1.764863,1.779153,1.604880,7700,7500,2014
611,611,Koyo Bearings to expand its bearings manufactu...,508377864,Expansion,Completed Assumed,10,Manufacturing,KOYO BEARINGS NORTH AMERICA LLC,US281541317L,JTEKT CORPORATION,...,1.376068,1.071223,0.582420,1.467586,1.281425,1.610473,1.376068,7700,7700,2014

In [52]:
col2.remove('iBVDid')
p_2014.drop(col2,axis=1, inplace=True)

c:\users\sneha\appdata\local\programs\python\python39\lib\site-packages\pandas\core\frame.py:4305: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [53]:
p_2014.columns

Index(['Unnamed: 0', 'pheadline', 'pnumber', 'ptype', 'pstatus', 'iexpen',
       'PBD', 'iname', 'iBVDid', 'gname',
       ...
       'WGI_CC_d', 'WGI_VA', 'WGI_pstabilityNV', 'WGI_GE', 'WGI_RQ', 'WGI_RL',
       'WGI_CC', 'ipri_d', 'ipri', 'adate_year'],
      dtype='object', length=252)

In [54]:
len(p_2014)

560

In [22]:
len(comp_2013_selected)

59421

In [55]:
comp_2013_selected = comp_2013_selected[comp_2013_selected['iBVDid'].notna()]
comp_2013_selected

,iBVDid,oper_turnover,PL_beforetax,wcapital,cash,TLE,ST_debt,LT_debt,empl,EXP,...,CF_share,expen_share,EPS,OperPS,OPPS,DPS,BVPS,TBVPS,LTLPS,WCPS
0,DE2070000543,280191.739908,17139.454366,30013.35254,43676.095895,447287.628979,n.a.,n.a.,572800,n.a.,...,107.972494,n.a.,39.267113,949.513084,53.744905,5.5164,420.796498,143.924251,540.578225,101.708622
259,JP1180301018771,249799.824501,23734.37132,16701.196534,41499.797354,402892.314362,n.a.,n.a.,338875,n.a.,...,8.668197,n.a.,5.140953,72.4478,6.463452,1.474682,42.915539,n.a.,32.535072,4.843734
487,US942404110,170910,50155,-7501,40546,207000,n.a.,16896,80300,n.a.,...,1.722,n.a.,1.456,6.719,1.926,0.414,4.857,4.631,1.564,-0.295
1066,DE7330530056,164754.17733,13982.694546,22156.620039,22690.331726,232403.167918,n.a.,n.a.,274616,n.a.,...,14.486066,n.a.,8.838652,154.325423,14.469517,3.10987,56.016282,43.888477,85.319398,20.754075
1607,US134090555L,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59397,GB09811278,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.
59402,GBNI625221,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.
59411,DE3090163677,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.
59415,LULB26186,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.
59418,KR1201110085995,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.

In [57]:

p_consolidated_2014 = p_2014.merge(comp_2013_selected, on = 'iBVDid', how = 'left')
p_consolidated_2014

,Unnamed: 0,pheadline,pnumber,ptype,pstatus,iexpen,PBD,iname,iBVDid,gname,...,CF_share,expen_share,EPS,OperPS,OPPS,DPS,BVPS,TBVPS,LTLPS,WCPS
0,0,"BayWa to expand sales office in Edinburgh, Sco...",999379749,Expansion,Completed Assumed,1.91,Sales Office,BAYWA RE RENEWABLE ENERGY GMBH,DE8170725443,BAYERISCHE RAIFFEISEN-BETEILIGUNGS-AG,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.
1,1,Vilebrequin to open clothing store in Brussels...,953988958,New,Completed Assumed,0.82,Retail,TRB INTERNATIONAL SA,LULB26186,G-111 APPAREL GROUP LTD,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.
2,2,"Replay to open clothing store in New York, USA",946529918,New,Completed Assumed,1.31,Retail,FASHION BOX SPA,IT03676290269,EQUIBOX HOLDING SPA,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.
3,3,SKF to establish new research and development ...,941723112,New,Completed Assumed,30,R&D Centre,SKF AB,SE5560073495,FAM AB,...,1.048134,n.a.,0.340764,23.799154,1.359476,0.935739,7.904045,0.795635,12.367914,7.529189
4,4,"Hilton Worldwide to open hotel in Agra, India",931655359,New,Completed Assumed,21.77,Hotels,HILTON WORLDWIDE HOLDINGS INC.,US274384691,HILTON WORLDWIDE,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
555,607,Kaplan International Holdings Ltd's sales offi...,866048896/1,New,Completed Assumed,0.44,Sales Office,KAPLAN INTERNATIONAL HOLDINGS LTD,GB04178272,GRAHAM HOLDINGS COMPANY,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.
556,608,KWS Saat SE's seed research and development ce...,868746077/2,New,Completed Assumed,6.85,Sales Office,KWS SAAT SE,DE2110001491,KWS SAAT SE,...,5.047572,n.a.,3.523752,46.882643,5.661024,n.a.,25.749287,21.711491,9.089292,16.7097
557,609,"KWS Saat SE's sales office in St. Louis, Misso...",868746077/1,New,Completed Assumed,6.85,Sales Office,KWS SAAT SE,DE2110001491,KWS SAAT SE,...,5.047572,n.a.,3.523752,46.882643,5.661024,n.a.,25.749287,21.711491,9.089292,16.7097
558,610,E&I Engineering is to open an electrical switc...,173088879,New,Completed Assumed,17,Manufacturing,E&I ENGINEERING LTD,IE401248,POWERBAR (EUROPE) LTD,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.
559,611,Koyo Bearings to expand its bearings manufactu...,508377864,Expansion,Completed Assumed,10,Manufacturing,KOYO BEARINGS NORTH AMERICA LLC,US281541317L,JTEKT CORPORATION,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.

In [58]:
p_consolidated_2014[p_consolidated_2014['iBVDid']=='DE2070000543'][['oper_turnover']]

     oper_turnover
279  280191.739908

In [59]:
p2014 = df[df['adate_year']==2014]

In [60]:
p2014[p2014['iBVDid']=='DE2070000543'][['oper_turnover']]

    oper_turnover
291        240156

In [61]:
comp_2013_selected[comp_2013_selected['iBVDid']=='DE2070000543'][['oper_turnover']]

   oper_turnover
0  280191.739908

## Do it for 2015 with 2014 Company Data

In [63]:
comp_2014 = pd.read_excel('companies_2014.xlsx',sheet_name='Results')
comp_2014.columns

Index(['Unnamed: 0', 'Company name Latin alphabet',
       'Operating revenue (Turnover)\nm USD 2014',
       'P/L before tax\nm USD 2014', 'Working capital\nm USD 2014',
       'Cash & cash equivalent\nm USD 2014',
       'Total Liabilities and Equity\nm USD 2014',
       'Short Term Debt, Net\nm USD 2014', 'Long Term Debt, Net\nm USD 2014',
       'Number of employees\n2014', 'Export revenue\nm USD 2014',
       'Costs of employees\nm USD 2014',
       'Research & Development expenses\nm USD 2014', 'Cash flow\nm USD 2014',
       'EBITDA\nm USD 2014', 'Profit margin (%)\n2014',
       'Export revenue / Operating revenue (%)\n2014',
       'R&D expenses / Operating revenue (%)\n2014', 'Current ratio (x)\n2014',
       'Liquidity ratio (x)\n2014', 'Profit per employee (th)\nth USD 2014',
       'Operating revenue per employee (th)\nth USD 2014',
       'Costs of employees / Operating revenue (%)\n2014',
       'Propensity to invest date\n2014', 'Propensity to invest\n2014',
       'Propensity to invest score\n2014', 'GUO - BvD ID number',
       'BvD ID number'],
      dtype='object')

In [64]:
col1 = [
'BvD ID number',
'Operating revenue (Turnover)\nm USD 2014' ,
'P/L before tax\nm USD 2014' ,
'Working capital\nm USD 2014' ,
'Cash & cash equivalent\nm USD 2014' ,
'Total Liabilities and Equity\nm USD 2014' ,
'Short Term Debt, Net\nm USD 2014' ,
'Long Term Debt, Net\nm USD 2014' ,
'Number of employees\n2014' ,
'Export revenue\nm USD 2014' ,
'Costs of employees\nm USD 2014' ,
'Research & Development expenses\nm USD 2014' ,
'Cash flow\nm USD 2014' ,
'EBITDA\nm USD 2014' ,
'Profit margin (%)\n2014' ,
'Export revenue / Operating revenue (%)\n2014' ,
'R&D expenses / Operating revenue (%)\n2014', 
'Current ratio (x)\n2014' ,
'Liquidity ratio (x)\n2014' ,
'Profit per employee (th)\nth USD 2014' ,
'Operating revenue per employee (th)\nth USD 2014' ,
'Costs of employees / Operating revenue (%)\n2014' ,
'GUO - BvD ID number']

In [65]:
col2 = [
'iBVDid',
'oper_turnover',
'PL_beforetax',
'wcapital',
'cash',
'TLE',
'ST_debt',
'LT_debt',
'empl',
'EXP',
'cost_empl',
'RD',
'cashflow',
'EBITDA',
'profit_margin',
'ER_OR',
'RD_OR',
'current_ratio',
'iliquidity_ratio',
'profit_empl',
'OR_empl',
'cost_empl_OR',
'gBVDid_comp'
]

In [66]:
col_combines = pd.DataFrame({'company':col1,'project':col2})
col_combines

                                             company           project
0                                      BvD ID number            iBVDid
1           Operating revenue (Turnover)\nm USD 2014     oper_turnover
2                         P/L before tax\nm USD 2014      PL_beforetax
3                        Working capital\nm USD 2014          wcapital
4                 Cash & cash equivalent\nm USD 2014              cash
5           Total Liabilities and Equity\nm USD 2014               TLE
6                   Short Term Debt, Net\nm USD 2014           ST_debt
7                    Long Term Debt, Net\nm USD 2014           LT_debt
8                          Number of employees\n2014              empl
9                         Export revenue\nm USD 2014               EXP
10                    Costs of employees\nm USD 2014         cost_empl
11       Research & Development expenses\nm USD 2014                RD
12                             Cash flow\nm USD 2014          cashflow
13                                EBITDA\nm USD 2014            EBITDA
14                           Profit margin (%)\n2014     profit_margin
15      Export revenue / Operating revenue (%)\n2014             ER_OR
16        R&D expenses / Operating revenue (%)\n2014             RD_OR
17                           Current ratio (x)\n2014     current_ratio
18                         Liquidity ratio (x)\n2014  iliquidity_ratio
19             Profit per employee (th)\nth USD 2014       profit_empl
20  Operating revenue per employee (th)\nth USD 2014           OR_empl
21  Costs of employees / Operating revenue (%)\n2014      cost_empl_OR
22                               GUO - BvD ID number       gBVDid_comp

['BvD ID number',
 'Total number of projects',
 'Total number of deals',
 'Operating revenue (Turnover)\nm USD 2013',
 'P/L before tax\nm USD 2013',
 'Working capital\nm USD 2013',
 'Cash & cash equivalent\nm USD 2013',
 'Total Liabilities and Equity\nm USD 2013',
 'Short Term Debt, Net\nm USD 2013',
 'Long Term Debt, Net\nm USD 2013',
 'Number of employees\n2013',
 'Export revenue\nm USD 2013',
 'Costs of employees\nm USD 2013',
 'Research & Development expenses\nm USD 2013',
 'Cash flow\nm USD 2013',
 'EBITDA\nm USD 2013',
 'Profit margin (%)\n2013',
 'Export revenue / Operating revenue (%)\n2013',
 'R&D expenses / Operating revenue (%)\n2013',
 'Current ratio (x)\n2013',
 'Liquidity ratio (x)\n2013',
 'Profit per employee (th)\nth USD 2013',
 'Operating revenue per employee (th)\nth USD 2013',
 'Costs of employees / Operating revenue (%)\n2013',
 'Number of directors & managers',
 'DM\nFull name',
 'GUO - Name',
 'GUO - BvD ID number',
 'GUO - State-owned',
 'GUO - Ticker symbol',
 'GUO - Country ISO code',
 'GUO - City',
 'GUO - NAICS,\nCore code',
 'GUO - NAICS, text description',
 'GUO - Number of projects',
 'GUO - Number of deals',
 'Listing status',
 'Currency',
 'Type of share',
 'Ticker symbol',
 'Nominal value',
 'Stock exchange(s) listed',
 'Stock index(es) information',
 'IPO date',
 'Delisting date',
 'Delisting note',
 'Market price - Current\nUSD',
 'Market price - Year to date - High\nUSD',
 'Market price - Year to date - Low\nUSD',
 'Current market capitalisation\nth USD',
 'Earnings per share\nUSD',
 'Book value per share\nUSD',
 'Nominal value\n2013',
 'Market capitalisation (mil)\nm USD 2013',
 'Cash flow per share\nUSD 2013',
 'Capital expenditure per share\nUSD 2013',
 'Earnings per share\nUSD 2013',
 'Operating revenue (Turnover) per share\nUSD 2013',
 'Operating profit per share\nUSD 2013',
 'Dividends per share\nUSD 2013',
 'Book Value per share\nUSD 2013',
 'Tangible Book Value per share\nUSD 2013',
 'Long Term Liabilities per share\nUSD 2013',
 'Working Capital per share\nUSD 2013',
 'BvD account number',
 'National ID label',
 'National ID type',
 'Trade register number',
 'LEI (Legal Entity Identifier)',
 'ISIN number',
 'Previous company name\nLatin Alphabet',
 'National legal form',
 'Date of incorporation',
 'Last avail. year',
 'Original currency\nLast avail. yr']

In [67]:
comp_2014_selected = comp_2014[col1]
comp_2014_selected.columns = col2

In [68]:
comp_2014_selected.columns

Index(['iBVDid', 'oper_turnover', 'PL_beforetax', 'wcapital', 'cash', 'TLE',
       'ST_debt', 'LT_debt', 'empl', 'EXP', 'cost_empl', 'RD', 'cashflow',
       'EBITDA', 'profit_margin', 'ER_OR', 'RD_OR', 'current_ratio',
       'iliquidity_ratio', 'profit_empl', 'OR_empl', 'cost_empl_OR',
       'gBVDid_comp'],
      dtype='object')

In [29]:
c_c = pd.DataFrame(comp_2014.columns)
c_c.to_csv(r'comp_cols.txt',header=None,index=None)

In [69]:
p_2015 = df[df['adate_year']==2015]
p_2015

,Unnamed: 0,pheadline,pnumber,ptype,pstatus,iexpen,PBD,iname,iBVDid,gname,...,WGI_CC_d,WGI_VA,WGI_pstabilityNV,WGI_GE,WGI_RQ,WGI_RL,WGI_CC,ipri_d,ipri,adate_year
639,639,Action Nederland has opened 68 discount depart...,999168837,New,Completed,n.a.,Retail,ACTION NEDERLAND BV,NL37112677,PEER HOLDING III B.V.,...,1.305666,1.561143,0.926119,1.832507,1.799031,1.944192,1.884297,7209,7905,2015
640,640,Sanofi S.A. opens Pharmaceuticals Manufacturin...,998452771,Expansion,Completed,60.21,Manufacturing,SANOFI SA,FR395030844,SANOFI SA,...,1.837888,1.206641,0.106706,1.436796,1.129694,1.413305,1.305666,7607,7209,2015
641,641,TRIMAR RETAIL A/S opens Textiles Retail projec...,995690726,New,Completed,1.31,Retail,TRIMAR RETAIL A/S,DK30826809,PHILIPTEX A/S,...,1.837888,1.552826,0.897650,1.847929,1.734574,2.042371,2.211076,7607,7894,2015
642,642,Bestseller to open Selected clothing store in ...,995570638,New,Completed Assumed,1.31,Retail,BESTSELLER A/S,DK88216512,HEARTLAND A/S,...,1.615371,1.552826,0.897650,1.847929,1.734574,2.042371,2.211076,7431,7894,2015
643,643,Topia Co. Ltd. opens Machine Tools Sales Offic...,995035042,New,Completed,0.33,Sales Office,"TOPIA CO., LTD",JP1190001005227,"TOPIA CO., LTD",...,1.837888,0.988055,1.065128,1.784521,1.217743,1.518716,1.569181,7607,7977,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16061,16061,"LACC opens an ethane cracker in Lake Charles, ...",834919453,Co-Location,Completed,1900,Testing Centre,LACC LLC,US310722932L,LOTTE CHEMICAL CORPORATION,...,1.396935,1.109821,0.678062,1.463522,1.256155,1.596108,1.396935,7606,7606,2015
16062,16062,Lotte Chemicals opens a monoethylene glyco man...,245222840,Co-Location,Completed,1100,Manufacturing,LOTTE CHEMICAL CORPORATION,KR1101110193196,LOTTE CHEMICAL CORPORATION,...,1.396935,0.631014,0.161014,1.012394,1.113389,0.932385,0.373622,7606,5931,2015
16063,16063,Arauco opens a particleboard manufacturing pla...,840445269,New,Completed,450,Manufacturing,CELULOSA ARAUCO Y CONSTITUCION SA,CL934580001,INVERSIONES ANGELINI Y COMPAÑÍA LTDA,...,1.396935,1.004488,0.433439,1.086102,1.345232,1.344083,1.279970,7606,6646,2015
16064,16064,Carlson Rezidor Hotel Group is to open a Radi...,964401477,New,Completed Assumed,7.86,Hotels,CARLSON REZIDOR HOTEL GROUP,US*Z00015551,CARLSON INC.,...,-0.426197,1.109821,0.678062,1.463522,1.256155,1.596108,1.396935,4490,7606,2015
16065,16065,TruRating to set up a sale office in Ireland,187950130,New,Completed Assumed,3.4,Business Services,TRURATING LTD,GB08251033,TRURATING LTD,...,1.615371,1.297837,0.517748,1.743745,1.845658,1.813060,1.876371,7431,7690,2015

In [70]:
col2.remove('iBVDid')
p_2015.drop(col2,axis=1, inplace=True)

c:\users\sneha\appdata\local\programs\python\python39\lib\site-packages\pandas\core\frame.py:4305: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [32]:
p_2015.columns

Index(['Unnamed: 0', 'pheadline', 'pnumber', 'ptype', 'pstatus', 'iexpen',
       'PBD', 'iname', 'iBVDid', 'gname',
       ...
       'WGI_CC_d', 'WGI_VA', 'WGI_pstabilityNV', 'WGI_GE', 'WGI_RQ', 'WGI_RL',
       'WGI_CC', 'ipri_d', 'ipri', 'adate_year'],
      dtype='object', length=268)

In [73]:
comp_2014_selected = comp_2014_selected[comp_2014_selected['iBVDid'].notna()]
len(comp_2014_selected)

8630

In [74]:
p_consolidated_2015 = p_2015.merge(comp_2014_selected, on = 'iBVDid', how = 'left')
p_consolidated_2015

,Unnamed: 0,pheadline,pnumber,ptype,pstatus,iexpen,PBD,iname,iBVDid,gname,...,EBITDA,profit_margin,ER_OR,RD_OR,current_ratio,iliquidity_ratio,profit_empl,OR_empl,cost_empl_OR,gBVDid_comp
0,639,Action Nederland has opened 68 discount depart...,999168837,New,Completed,n.a.,Retail,ACTION NEDERLAND BV,NL37112677,PEER HOLDING III B.V.,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,NL53398688
1,640,Sanofi S.A. opens Pharmaceuticals Manufacturin...,998452771,Expansion,Completed,60.21,Manufacturing,SANOFI SA,FR395030844,SANOFI SA,...,12037.807442,16.674,n.a.,13.576,1.798,1.295,61.316916,367.741033,25.206,FR395030844
2,641,TRIMAR RETAIL A/S opens Textiles Retail projec...,995690726,New,Completed,1.31,Retail,TRIMAR RETAIL A/S,DK30826809,PHILIPTEX A/S,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,DK31065399
3,642,Bestseller to open Selected clothing store in ...,995570638,New,Completed Assumed,1.31,Retail,BESTSELLER A/S,DK88216512,HEARTLAND A/S,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,DK38321048
4,643,Topia Co. Ltd. opens Machine Tools Sales Offic...,995035042,New,Completed,0.33,Sales Office,"TOPIA CO., LTD",JP1190001005227,"TOPIA CO., LTD",...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,JP1190001005227
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14896,16061,"LACC opens an ethane cracker in Lake Charles, ...",834919453,Co-Location,Completed,1900,Testing Centre,LACC LLC,US310722932L,LOTTE CHEMICAL CORPORATION,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,NaN
14897,16062,Lotte Chemicals opens a monoethylene glyco man...,245222840,Co-Location,Completed,1100,Manufacturing,LOTTE CHEMICAL CORPORATION,KR1101110193196,LOTTE CHEMICAL CORPORATION,...,325.823602,1.866,n.a.,0.268,2.1,1.357,n.a.,n.a.,n.a.,JP4011101006575
14898,16063,Arauco opens a particleboard manufacturing pla...,840445269,New,Completed,450,Manufacturing,CELULOSA ARAUCO Y CONSTITUCION SA,CL934580001,INVERSIONES ANGELINI Y COMPAÑÍA LTDA,...,n.a.,10.405,n.a.,0,2.03,1.452,n.a.,n.a.,n.a.,CL938090009
14899,16064,Carlson Rezidor Hotel Group is to open a Radi...,964401477,New,Completed Assumed,7.86,Hotels,CARLSON REZIDOR HOTEL GROUP,US*Z00015551,CARLSON INC.,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,CN9364484442
14900,16065,TruRating to set up a sale office in Ireland,187950130,New,Completed Assumed,3.4,Business Services,TRURATING LTD,GB08251033,TRURATING LTD,...,n.a.,n.a.,n.a.,n.a.,3.937,3.937,n.a.,n.a.,n.a.,GB08251033

In [75]:
p_consolidated_2015[p_consolidated_2015['iBVDid']=='ESA08137804'][['oper_turnover']]

      oper_turnover
12409      4.045162

In [76]:
comp_2014_selected[comp_2014_selected['iBVDid']=='ESA08137804'][['oper_turnover']]

     oper_turnover
5115      4.045162

In [77]:
p2015 = df[df['adate_year']==2015]
p2015[p2015['iBVDid']=='ESA08137804'][['oper_turnover']]

      oper_turnover
13472             4

## Do it for 2016 with 2015 Company Data

In [90]:
comp_2015 = pd.read_excel('company_2015.xlsx',sheet_name='Results')
comp_2015.columns

Index(['Unnamed: 0', 'Company name Latin alphabet',
       'Operating revenue (Turnover)\nm USD 2015',
       'P/L before tax\nm USD 2015', 'Working capital\nm USD 2015',
       'Cash & cash equivalent\nm USD 2015',
       'Total Liabilities and Equity\nm USD 2015',
       'Short Term Debt, Net\nm USD 2015', 'Long Term Debt, Net\nm USD 2015',
       'Number of employees\n2015', 'Export revenue\nm USD 2015',
       'Costs of employees\nm USD 2015',
       'Research & Development expenses\nm USD 2015', 'Cash flow\nm USD 2015',
       'EBITDA\nm USD 2015', 'Profit margin (%)\n2015',
       'Export revenue / Operating revenue (%)\n2015',
       'R&D expenses / Operating revenue (%)\n2015', 'Current ratio (x)\n2015',
       'Liquidity ratio (x)\n2015', 'Profit per employee (th)\nth USD 2015',
       'Operating revenue per employee (th)\nth USD 2015',
       'Costs of employees / Operating revenue (%)\n2015',
       'Propensity to invest date\n2015', 'Propensity to invest\n2015',
       'Propensity to invest score\n2015', 'GUO - BvD ID number',
       'Stock split ratio\n2015', 'Market price - year end\nUSD 2015',
       'Market price - high\nUSD 2015', 'Market price - low\nUSD 2015',
       'Market price - open\nUSD 2015', 'Shares outstanding \nth 2015',
       'Nominal value\n2015', 'Market capitalisation (mil)\nm USD 2015',
       'Earnings per share\nUSD 2015', 'Cash flow per share\nUSD 2015',
       'Capital expenditure per share\nUSD 2015',
       'Operating revenue (Turnover) per share\nUSD 2015',
       'Operating profit per share\nUSD 2015', 'Dividends per share\nUSD 2015',
       'Book Value per share\nUSD 2015',
       'Tangible Book Value per share\nUSD 2015',
       'Long Term Liabilities per share\nUSD 2015',
       'Working Capital per share\nUSD 2015', 'Stock split ratio\n2015.1',
       'Market price - year end\nUSD 2015.1',
       'Market price - high\nUSD 2015.1', 'Market price - low\nUSD 2015.1',
       'Market price - open\nUSD 2015.1', 'Shares outstanding \nth 2015.1',
       'Nominal value\n2015.1', 'Market capitalisation (mil)\nm USD 2015.1',
       'Earnings per share\nUSD 2015.1', 'Cash flow per share\nUSD 2015.1',
       'Capital expenditure per share\nUSD 2015.1',
       'Operating revenue (Turnover) per share\nUSD 2015.1',
       'Operating profit per share\nUSD 2015.1',
       'Dividends per share\nUSD 2015.1', 'Book Value per share\nUSD 2015.1',
       'Tangible Book Value per share\nUSD 2015.1',
       'Long Term Liabilities per share\nUSD 2015.1',
       'Working Capital per share\nUSD 2015.1', 'BvD ID number'],
      dtype='object')

In [91]:
col1 = [
'BvD ID number',
'Operating revenue (Turnover)\nm USD 2015' ,
'P/L before tax\nm USD 2015' ,
'Working capital\nm USD 2015' ,
'Cash & cash equivalent\nm USD 2015' ,
'Total Liabilities and Equity\nm USD 2015' ,
'Short Term Debt, Net\nm USD 2015' ,
'Long Term Debt, Net\nm USD 2015' ,
'Number of employees\n2015' ,
'Export revenue\nm USD 2015' ,
'Costs of employees\nm USD 2015' ,
'Research & Development expenses\nm USD 2015' ,
'Cash flow\nm USD 2015' ,
'EBITDA\nm USD 2015' ,
'Profit margin (%)\n2015' ,
'Export revenue / Operating revenue (%)\n2015' ,
'R&D expenses / Operating revenue (%)\n2015', 
'Current ratio (x)\n2015' ,
'Liquidity ratio (x)\n2015' ,
'Profit per employee (th)\nth USD 2015' ,
'Operating revenue per employee (th)\nth USD 2015' ,
'Costs of employees / Operating revenue (%)\n2015' ,
'GUO - BvD ID number' ,
'Market price - year end\nUSD 2015' ,
'Market price - high\nUSD 2015' ,
'Market price - low\nUSD 2015' ,
'Earnings per share\nUSD 2015' ,
'Nominal value\n2015' ,
'Market capitalisation (mil)\nm USD 2015' ,
'Cash flow per share\nUSD 2015' ,
'Capital expenditure per share\nUSD 2015' ,
'Earnings per share\nUSD 2015' ,
'Operating revenue (Turnover) per share\nUSD 2015' ,
'Operating profit per share\nUSD 2015' ,
'Dividends per share\nUSD 2015' ,
'Book Value per share\nUSD 2015' ,
'Tangible Book Value per share\nUSD 2015' ,
'Long Term Liabilities per share\nUSD 2015' ,
'Working Capital per share\nUSD 2015' ,
 ]

In [92]:
col2 = [
'iBVDid',
'oper_turnover',
'PL_beforetax',
'wcapital',
'cash',
'TLE',
'ST_debt',
'LT_debt',
'empl',
'EXP',
'cost_empl',
'RD',
'cashflow',
'EBITDA',
'profit_margin',
'ER_OR',
'RD_OR',
'current_ratio',
'iliquidity_ratio',
'profit_empl',
'OR_empl',
'cost_empl_OR',
'gBVDid_comp',
'MP_current',
'MP_high',
'MP_low',
'Eshare',
'nvalue',
'mcapital',
'CF_share',
'expen_share',
'EPS',
'OperPS',
'OPPS',
'DPS',
'BVPS',
'TBVPS',
'LTLPS',
'WCPS'
]

In [93]:
comp_2015_selected = comp_2015[col1]
comp_2015_selected.columns = col2

In [94]:
comp_2015_selected

,iBVDid,oper_turnover,PL_beforetax,wcapital,cash,TLE,ST_debt,LT_debt,empl,EXP,...,CF_share,expen_share,EPS,OperPS,OPPS,DPS,BVPS,TBVPS,LTLPS,WCPS
0,GB04366849,265003,2047,12634,31752,340157,n.a.,n.a.,90000,n.a.,...,11.741094,n.a.,0.794298,108.589185,0.125961,n.a.,67.251585,64.677524,43.06105,5.176277
1,DE2070000543,240156.319073,-1417.487318,28001.362376,39060.376335,415812.610387,n.a.,n.a.,610076,n.a.,...,42.08043,n.a.,-5.966076,813.841307,-4.53008,0.119757,325.661723,100.071121,535.609885,94.891086
2,US911646860,107006,1568,n.a.,19808,64747,n.a.,-3882,230800,n.a.,...,12.211,n.a.,1.271,228.274,4.764,n.a.,28.552,18.417,37.281,n.a.
3,GB00102498,223279,-9571,10986,26608,261832,n.a.,n.a.,79800,n.a.,...,0.579423,n.a.,-0.352692,12.147134,-0.486063,0.368993,5.352623,4.645756,5.914263,0.597206
4,JP1180301018771,252180.739307,26488.332239,67342.880621,48680.198374,421092.025002,n.a.,n.a.,348877,n.a.,...,10.469457,n.a.,6.144943,75.548509,7.591183,1.716994,48.112161,n.a.,35.150021,20.174633
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4872,CHCHE195616973,0.503981,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,1,n.a.,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.
4873,CHCHE355092869,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,4,n.a.,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.
4874,CHCHE404966613,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.
4875,CHCHE483306935,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.
4876,MU0000105493,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.

In [95]:
p_2016 = df[df['adate_year']==2016]
p_2016

,Unnamed: 0,pheadline,pnumber,ptype,pstatus,iexpen,PBD,iname,iBVDid,gname,...,WGI_CC_d,WGI_VA,WGI_pstabilityNV,WGI_GE,WGI_RQ,WGI_RL,WGI_CC,ipri_d,ipri,adate_year
16107,16107,Givenchy opens clothing and accessories store ...,293379431,New,Completed,1.29,Retail,GIVENCHY SA,FR552051229,GROUPE ARNAULT SAS,...,1.171709,1.136473,-0.095359,1.405252,1.070323,1.413082,1.400143,7287,7258,2016
16108,16108,"Sephora opens distribution centre in Warsaw, P...",561134691,New,Completed,44.9,"Logistics, Distribution & Transportation",SEPHORA SAS,FR393712286,GROUPE ARNAULT SAS,...,0.739105,1.136473,-0.095359,1.405252,1.070323,1.413082,1.400143,5947,7258,2016
16109,16109,Arkema expands manufacturing plant in Seremban...,953569238,Expansion,Completed,101.43,Manufacturing,ARKEMA SA,FR445074685,ARKEMA SA,...,0.096051,1.136473,-0.095359,1.405252,1.070323,1.413082,1.400143,6753,7258,2016
16110,16110,Centara to open hotel in Muscat,999816077,New,Completed Assumed,7.38,Hotels,CENTARA HOTELS & RESORTS,TH*P0037308,NaN,...,0.339484,-1.023132,-0.988581,0.342031,0.168070,-0.004876,-0.388985,5993,5038,2016
16111,16111,"Miniso to open store in Can Tho, Vietnam",998428716,New,Completed Assumed,0.79,Retail,"MINISO CO., LTD",NaN,NaN,...,-0.452471,0.983627,0.982944,1.822038,1.428122,1.420992,1.524958,4655,8098,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32416,32416,"Lenovo to expand sales office in Barcelona, Spain",954879003,Expansion,Completed Assumed,6.88,Sales Office,LENOVO GROUP LTD,HK30105FH,CHINESE ACADEMY of SCIENCES,...,0.515631,0.377268,0.750807,1.842144,2.153887,1.722853,1.561687,5850,7782,2016
32417,32417,Hennes & Mauritz to open stores in Colombia,794812279,New,Completed Assumed,n.a.,Retail,HENNES & MAURITZ AB,SE5560427220,HENNES & MAURITZ AB,...,-0.324252,1.564696,1.017941,1.773643,1.854203,2.019034,2.191840,4920,8098,2016
32418,32418,"Park Hotel has opened a hotel in Seoul, South ...",401482829,New,Completed,22.88,Hotels,PARK HOTEL GROUP,SG200604007C,NaN,...,0.456913,-0.150398,1.495759,2.206245,2.180612,1.825243,2.088102,6123,8128,2016
32419,32419,"Fujita Kanko to open in Taipei, Taiwna",955870019,New,Completed Assumed,22.97,Hotels,FUJITA KANKO INC.,JP6010001100247,"DOWA HOLDINGS CO., LTD",...,NaN,0.983627,0.982944,1.822038,1.428122,1.420992,1.524958,6925,8098,2016
32420,32420,Daimler to open production facility in Poland,122182298,New,Completed Assumed,574.29,Manufacturing,DAIMLER AG,DE7330530056,DAIMLER AG,...,0.739105,1.364375,0.681363,1.734568,1.817016,1.622016,1.843418,5947,7722,2016

In [96]:
col2.remove('iBVDid')
p_2016.drop(col2,axis=1, inplace=True)

c:\users\sneha\appdata\local\programs\python\python39\lib\site-packages\pandas\core\frame.py:4305: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [97]:
comp_2015_selected = comp_2015_selected[comp_2015_selected['iBVDid'].notna()]
len(comp_2015_selected)

4850

In [98]:
len(p_2016)

11711

In [99]:
p_consolidated_2016 = p_2016.merge(comp_2015_selected, on = 'iBVDid', how = 'left')
p_consolidated_2016

,Unnamed: 0,pheadline,pnumber,ptype,pstatus,iexpen,PBD,iname,iBVDid,gname,...,CF_share,expen_share,EPS,OperPS,OPPS,DPS,BVPS,TBVPS,LTLPS,WCPS
0,16107,Givenchy opens clothing and accessories store ...,293379431,New,Completed,1.29,Retail,GIVENCHY SA,FR552051229,GROUPE ARNAULT SAS,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.
1,16108,"Sephora opens distribution centre in Warsaw, P...",561134691,New,Completed,44.9,"Logistics, Distribution & Transportation",SEPHORA SAS,FR393712286,GROUPE ARNAULT SAS,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.
2,16109,Arkema expands manufacturing plant in Seremban...,953569238,Expansion,Completed,101.43,Manufacturing,ARKEMA SA,FR445074685,ARKEMA SA,...,12.474324,n.a.,4.172987,112.807821,7.452151,2.071796,57.816499,22.531734,46.908814,18.974951
3,16110,Centara to open hotel in Muscat,999816077,New,Completed Assumed,7.38,Hotels,CENTARA HOTELS & RESORTS,TH*P0037308,NaN,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.
4,16111,"Miniso to open store in Can Tho, Vietnam",998428716,New,Completed Assumed,0.79,Retail,"MINISO CO., LTD",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11706,32416,"Lenovo to expand sales office in Barcelona, Spain",954879003,Expansion,Completed Assumed,6.88,Sales Office,LENOVO GROUP LTD,HK30105FH,CHINESE ACADEMY of SCIENCES,...,0.055072,n.a.,-0.011479,4.043077,-0.001935,0.034178,0.272393,-0.507255,0.553298,0.249694
11707,32417,Hennes & Mauritz to open stores in Colombia,794812279,New,Completed Assumed,n.a.,Retail,HENNES & MAURITZ AB,SE5560427220,HENNES & MAURITZ AB,...,2.147281,n.a.,1.643897,14.227115,2.11936,1.269433,4.566304,4.242626,0.37975,1.79775
11708,32418,"Park Hotel has opened a hotel in Seoul, South ...",401482829,New,Completed,22.88,Hotels,PARK HOTEL GROUP,SG200604007C,NaN,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.
11709,32419,"Fujita Kanko to open in Taipei, Taiwna",955870019,New,Completed Assumed,22.97,Hotels,FUJITA KANKO INC.,JP6010001100247,"DOWA HOLDINGS CO., LTD",...,2.785195,n.a.,0.021751,43.495148,0.007477,0.325627,18.363802,17.579296,38.316326,1.906199
11710,32420,Daimler to open production facility in Poland,122182298,New,Completed Assumed,574.29,Manufacturing,DAIMLER AG,DE7330530056,DAIMLER AG,...,14.061648,n.a.,8.572423,154.007493,13.319155,3.538275,55.586841,45.341086,86.96644,22.659112

In [53]:
p_consolidated_2016.columns

Index(['Unnamed: 0', 'pheadline', 'pnumber', 'ptype', 'pstatus', 'iexpen',
       'PBD', 'iname', 'iBVDid', 'gname',
       ...
       'CF_share', 'expen_share', 'EPS', 'OperPS', 'OPPS', 'DPS', 'BVPS',
       'TBVPS', 'LTLPS', 'WCPS'],
      dtype='object', length=290)

## Do it for 2017 with 2016 Company Data

In [101]:
comp_2016 = pd.read_excel('companies_2016.xlsx',sheet_name='Results')
comp_2016.columns

Index(['Unnamed: 0', 'Company name Latin alphabet',
       'Operating revenue (Turnover)\nm USD 2016',
       'P/L before tax\nm USD 2016', 'Working capital\nm USD 2016',
       'Cash & cash equivalent\nm USD 2016',
       'Total Liabilities and Equity\nm USD 2016',
       'Short Term Debt, Net\nm USD 2016', 'Long Term Debt, Net\nm USD 2016',
       'Number of employees\n2016', 'Export revenue\nm USD 2016',
       'Costs of employees\nm USD 2016',
       'Research & Development expenses\nm USD 2016', 'Cash flow\nm USD 2016',
       'EBITDA\nm USD 2016', 'Profit margin (%)\n2016',
       'Export revenue / Operating revenue (%)\n2016',
       'R&D expenses / Operating revenue (%)\n2016', 'Current ratio (x)\n2016',
       'Liquidity ratio (x)\n2016', 'Profit per employee (th)\nth USD 2016',
       'Operating revenue per employee (th)\nth USD 2016',
       'Costs of employees / Operating revenue (%)\n2016',
       'Propensity to invest date\n2016', 'Propensity to invest\n2016',
       'Propensity to invest score\n2016', 'Stock split ratio\n2016',
       'Market price - year end\nUSD 2016', 'Market price - high\nUSD 2016',
       'Market price - low\nUSD 2016', 'Market price - open\nUSD 2016',
       'Shares outstanding \nth 2016', 'Nominal value\n2016',
       'Market capitalisation (mil)\nm USD 2016',
       'Earnings per share\nUSD 2016', 'Cash flow per share\nUSD 2016',
       'Capital expenditure per share\nUSD 2016',
       'Operating revenue (Turnover) per share\nUSD 2016',
       'Operating profit per share\nUSD 2016', 'Dividends per share\nUSD 2016',
       'Book Value per share\nUSD 2016',
       'Tangible Book Value per share\nUSD 2016',
       'Long Term Liabilities per share\nUSD 2016',
       'Working Capital per share\nUSD 2016', 'BvD ID number'],
      dtype='object')

In [102]:
col1 = [
'BvD ID number',
'Operating revenue (Turnover)\nm USD 2016' ,
'P/L before tax\nm USD 2016' ,
'Working capital\nm USD 2016' ,
'Cash & cash equivalent\nm USD 2016' ,
'Total Liabilities and Equity\nm USD 2016' ,
'Short Term Debt, Net\nm USD 2016' ,
'Long Term Debt, Net\nm USD 2016' ,
'Number of employees\n2016' ,
'Export revenue\nm USD 2016' ,
'Costs of employees\nm USD 2016' ,
'Research & Development expenses\nm USD 2016' ,
'Cash flow\nm USD 2016' ,
'EBITDA\nm USD 2016' ,
'Profit margin (%)\n2016' ,
'Export revenue / Operating revenue (%)\n2016' ,
'R&D expenses / Operating revenue (%)\n2016', 
'Current ratio (x)\n2016' ,
'Liquidity ratio (x)\n2016' ,
'Profit per employee (th)\nth USD 2016' ,
'Operating revenue per employee (th)\nth USD 2016' ,
'Costs of employees / Operating revenue (%)\n2016' ,
'Market price - year end\nUSD 2016' ,
'Market price - high\nUSD 2016' ,
'Market price - low\nUSD 2016' ,
'Earnings per share\nUSD 2016' ,
'Nominal value\n2016' ,
'Market capitalisation (mil)\nm USD 2016' ,
'Cash flow per share\nUSD 2016' ,
'Capital expenditure per share\nUSD 2016' ,
'Earnings per share\nUSD 2016' ,
'Operating revenue (Turnover) per share\nUSD 2016' ,
'Operating profit per share\nUSD 2016' ,
'Dividends per share\nUSD 2016' ,
'Book Value per share\nUSD 2016' ,
'Tangible Book Value per share\nUSD 2016' ,
'Long Term Liabilities per share\nUSD 2016' ,
'Working Capital per share\nUSD 2016' 
 ]

In [103]:
col2 = [
'iBVDid',
'oper_turnover',
'PL_beforetax',
'wcapital',
'cash',
'TLE',
'ST_debt',
'LT_debt',
'empl',
'EXP',
'cost_empl',
'RD',
'cashflow',
'EBITDA',
'profit_margin',
'ER_OR',
'RD_OR',
'current_ratio',
'iliquidity_ratio',
'profit_empl',
'OR_empl',
'cost_empl_OR',
'MP_current',
'MP_high',
'MP_low',
'Eshare',
'nvalue',
'mcapital',
'CF_share',
'expen_share',
'EPS',
'OperPS',
'OPPS',
'DPS',
'BVPS',
'TBVPS',
'LTLPS',
'WCPS'
]

In [104]:
comp_2016_selected = comp_2016[col1]
comp_2016_selected.columns = col2

In [105]:
p_2017 = df[df['adate_year']==2017]
p_2017

,Unnamed: 0,pheadline,pnumber,ptype,pstatus,iexpen,PBD,iname,iBVDid,gname,...,WGI_CC_d,WGI_VA,WGI_pstabilityNV,WGI_GE,WGI_RQ,WGI_RL,WGI_CC,ipri_d,ipri,adate_year
32566,32566,Yoon Yang Kim Shin & Yu to open legal services...,228419625,New,Completed Assumed,10.61,Business Services,YOON YANG KIM SHIN & YU,KR1146460030284,NaN,...,-0.583143,0.740770,0.321323,1.072764,1.105012,1.163428,0.480835,4930,6495,2017
32567,32567,"TruRating to set up headquarters in Sidney, Au...",902136940,New,Completed Assumed,27.14,Regional Headquarters,TRURATING LTD,GB08251033,TRURATING LTD,...,1.795070,1.333097,0.331547,1.414133,1.714478,1.679469,1.843364,8244,8129,2017
32568,32568,Lego is to expand in London,999540766,Expansion,Completed Assumed,23.99,Regional Headquarters,LEGO A/S,DK54562519,KIRKBI A/S,...,1.843364,1.515525,0.868219,1.796943,1.621354,1.863846,2.193404,8129,8158,2017
32569,32569,"Lenta opens supermarket in Moscow, Russia",999446755,New,Completed,7.2,Retail,LENTA LTD,VG40083ZG,LENTA LTD,...,-0.892403,NaN,NaN,NaN,NaN,NaN,NaN,4043,NaN,2017
32570,32570,Darta Saving Life Assurance and Allianz Global...,999214085,Expansion,Completed,23.99,Regional Headquarters,ALLIANZ GLOBAL LIFE LTD,IE458565,ALLIANZ SE,...,1.548582,1.293336,1.002215,1.290977,1.585116,1.427983,1.548582,7872,7872,2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53836,53836,"Fenchurch Faris to open new office in Jeddah, ...",439435571,New,Completed Assumed,3.4,Banking & Finance,FENCHURCH FARIS LTD,GR098118785,NaN,...,0.363827,0.708668,-0.073596,0.313373,0.238200,0.083919,-0.138349,6133,5389.0,2017
53837,53837,Scavolini opens kitchen and bathroom furniture...,256517934,New,Completed Assumed,1.36,Retail,SCAVOLINI SPA,IT00113120414,ESSE INDUSTRIE DI SCAVOLINI ELVINO E VALTER & ...,...,1.381257,1.054607,0.306728,0.502127,0.704022,0.324625,0.188601,8074,5979.0,2017
53838,53838,Ford Motor Company to expand manufacturing pla...,172368743,Expansion,Completed Assumed,66.24,Manufacturing,FORD MOTOR COMPANY,US380549190,FORD MOTOR COMPANY,...,-0.927999,1.050724,0.335553,1.554298,1.628115,1.644761,1.381257,5194,8074.0,2017
53839,53839,CTS Auto is to open an electric bus manufactur...,776956510,New,Completed Assumed,100,Manufacturing,CTS AUTO SA,AR30-71146211-9,"BYD CO., LTD",...,-0.255950,0.527963,0.169436,0.149542,-0.291172,-0.245611,-0.255950,4568,4568.0,2017
53840,53840,Lloyd's to open office and relocate jobs in Br...,259566039,New,Completed Assumed,11.49,Banking & Finance,LLOYD'S of LONDON LTD,GB03189123,SOCIETY of LLOYD'S,...,1.497134,1.333097,0.331547,1.414133,1.714478,1.679469,1.843364,7839,8129.0,2017

In [106]:
col2.remove('iBVDid')
p_2017.drop(col2,axis=1, inplace=True)

c:\users\sneha\appdata\local\programs\python\python39\lib\site-packages\pandas\core\frame.py:4305: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [107]:
len(comp_2016_selected)

7085

In [108]:
comp_2016_selected = comp_2016_selected[comp_2016_selected['iBVDid'].notna()]
len(comp_2016_selected)

7085

In [109]:
p_consolidated_2017 = p_2017.merge(comp_2016_selected, on = 'iBVDid', how = 'left')
p_consolidated_2017

,Unnamed: 0,pheadline,pnumber,ptype,pstatus,iexpen,PBD,iname,iBVDid,gname,...,CF_share,expen_share,EPS,OperPS,OPPS,DPS,BVPS,TBVPS,LTLPS,WCPS
0,32566,Yoon Yang Kim Shin & Yu to open legal services...,228419625,New,Completed Assumed,10.61,Business Services,YOON YANG KIM SHIN & YU,KR1146460030284,NaN,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.
1,32567,"TruRating to set up headquarters in Sidney, Au...",902136940,New,Completed Assumed,27.14,Regional Headquarters,TRURATING LTD,GB08251033,TRURATING LTD,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.
2,32568,Lego is to expand in London,999540766,Expansion,Completed Assumed,23.99,Regional Headquarters,LEGO A/S,DK54562519,KIRKBI A/S,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.
3,32569,"Lenta opens supermarket in Moscow, Russia",999446755,New,Completed,7.2,Retail,LENTA LTD,VG40083ZG,LENTA LTD,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.
4,32570,Darta Saving Life Assurance and Allianz Global...,999214085,Expansion,Completed,23.99,Regional Headquarters,ALLIANZ GLOBAL LIFE LTD,IE458565,ALLIANZ SE,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17324,53836,"Fenchurch Faris to open new office in Jeddah, ...",439435571,New,Completed Assumed,3.4,Banking & Finance,FENCHURCH FARIS LTD,GR098118785,NaN,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.
17325,53837,Scavolini opens kitchen and bathroom furniture...,256517934,New,Completed Assumed,1.36,Retail,SCAVOLINI SPA,IT00113120414,ESSE INDUSTRIE DI SCAVOLINI ELVINO E VALTER & ...,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.
17326,53838,Ford Motor Company to expand manufacturing pla...,172368743,Expansion,Completed Assumed,66.24,Manufacturing,FORD MOTOR COMPANY,US380549190,FORD MOTOR COMPANY,...,3.488,n.a.,1.176,38.895,1.483,0.865,7.474,7.41,30.362,-0.332
17327,53839,CTS Auto is to open an electric bus manufactur...,776956510,New,Completed Assumed,100,Manufacturing,CTS AUTO SA,AR30-71146211-9,"BYD CO., LTD",...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.
17328,53840,Lloyd's to open office and relocate jobs in Br...,259566039,New,Completed Assumed,11.49,Banking & Finance,LLOYD'S of LONDON LTD,GB03189123,SOCIETY of LLOYD'S,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.

In [119]:
df2[(df2['iBVDid'] == 'US522055918') & (df2['adate_year'] == 2017)][['oper_turnover']]

      oper_turnover
32581         15407
32749         15407
32797         15407
32826         15407
32830         15407
...             ...
52724         20758
52933         20758
52950         20758
53366         20758
53618         20758

[117 rows x 1 columns]

In [110]:

p_consolidated_2017[p_consolidated_2017['iBVDid']=='US522055918'][['oper_turnover']]

      oper_turnover
15            15407
181           15407
229           15407
258           15407
262           15407
...             ...
16212         15407
16421         15407
16438         15407
16854         15407
17106         15407

[117 rows x 1 columns]

## Do it for 2018 with 2017 Company Data

In [120]:
comp_2017 = pd.read_excel('company_2017.xlsx',sheet_name='Results')
comp_2017.columns

Index(['Unnamed: 0', 'Company name Latin alphabet',
       'Operating revenue (Turnover)\nm USD 2017',
       'P/L before tax\nm USD 2017', 'Working capital\nm USD 2017',
       'Cash & cash equivalent\nm USD 2017',
       'Total Liabilities and Equity\nm USD 2017',
       'Short Term Debt, Net\nm USD 2017', 'Long Term Debt, Net\nm USD 2017',
       'Number of employees\n2017', 'Export revenue\nm USD 2017',
       'Costs of employees\nm USD 2017',
       'Research & Development expenses\nm USD 2017', 'Cash flow\nm USD 2017',
       'EBITDA\nm USD 2017', 'Profit margin (%)\n2017',
       'Export revenue / Operating revenue (%)\n2017',
       'R&D expenses / Operating revenue (%)\n2017', 'Current ratio (x)\n2017',
       'Liquidity ratio (x)\n2017', 'Profit per employee (th)\nth USD 2017',
       'Operating revenue per employee (th)\nth USD 2017',
       'Costs of employees / Operating revenue (%)\n2017',
       'Propensity to invest date\n2017', 'Propensity to invest\n2017',
       'Propensity to invest score\n2017', 'Stock split ratio\n2017',
       'Market price - year end\nUSD 2017', 'Market price - high\nUSD 2017',
       'Market price - low\nUSD 2017', 'Market price - open\nUSD 2017',
       'Shares outstanding \nth 2017', 'Nominal value\n2017',
       'Market capitalisation (mil)\nm USD 2017',
       'Earnings per share\nUSD 2017', 'Cash flow per share\nUSD 2017',
       'Capital expenditure per share\nUSD 2017',
       'Operating revenue (Turnover) per share\nUSD 2017',
       'Operating profit per share\nUSD 2017', 'Dividends per share\nUSD 2017',
       'Book Value per share\nUSD 2017',
       'Tangible Book Value per share\nUSD 2017',
       'Long Term Liabilities per share\nUSD 2017',
       'Working Capital per share\nUSD 2017', 'BvD ID number'],
      dtype='object')

In [121]:
col1 = [
'BvD ID number',
'Operating revenue (Turnover)\nm USD 2017' ,
'P/L before tax\nm USD 2017' ,
'Working capital\nm USD 2017' ,
'Cash & cash equivalent\nm USD 2017' ,
'Total Liabilities and Equity\nm USD 2017' ,
'Short Term Debt, Net\nm USD 2017' ,
'Long Term Debt, Net\nm USD 2017' ,
'Number of employees\n2017' ,
'Export revenue\nm USD 2017' ,
'Costs of employees\nm USD 2017' ,
'Research & Development expenses\nm USD 2017' ,
'Cash flow\nm USD 2017' ,
'EBITDA\nm USD 2017' ,
'Profit margin (%)\n2017' ,
'Export revenue / Operating revenue (%)\n2017' ,
'R&D expenses / Operating revenue (%)\n2017', 
'Current ratio (x)\n2017' ,
'Liquidity ratio (x)\n2017' ,
'Profit per employee (th)\nth USD 2017' ,
'Operating revenue per employee (th)\nth USD 2017' ,
'Costs of employees / Operating revenue (%)\n2017' ,
'Market price - year end\nUSD 2017' ,
'Market price - high\nUSD 2017' ,
'Market price - low\nUSD 2017' ,
'Earnings per share\nUSD 2017' ,
'Nominal value\n2017' ,
'Market capitalisation (mil)\nm USD 2017' ,
'Cash flow per share\nUSD 2017' ,
'Capital expenditure per share\nUSD 2017' ,
'Earnings per share\nUSD 2017' ,
'Operating revenue (Turnover) per share\nUSD 2017' ,
'Operating profit per share\nUSD 2017' ,
'Dividends per share\nUSD 2017' ,
'Book Value per share\nUSD 2017' ,
'Tangible Book Value per share\nUSD 2017' ,
'Long Term Liabilities per share\nUSD 2017' ,
'Working Capital per share\nUSD 2017' 
 ]

In [122]:
col2 = [
'iBVDid',
'oper_turnover',
'PL_beforetax',
'wcapital',
'cash',
'TLE',
'ST_debt',
'LT_debt',
'empl',
'EXP',
'cost_empl',
'RD',
'cashflow',
'EBITDA',
'profit_margin',
'ER_OR',
'RD_OR',
'current_ratio',
'iliquidity_ratio',
'profit_empl',
'OR_empl',
'cost_empl_OR',
'MP_current',
'MP_high',
'MP_low',
'Eshare',
'nvalue',
'mcapital',
'CF_share',
'expen_share',
'EPS',
'OperPS',
'OPPS',
'DPS',
'BVPS',
'TBVPS',
'LTLPS',
'WCPS'
]

In [123]:
comp_2017_selected = comp_2017[col1]
comp_2017_selected.columns = col2

In [124]:
p_2018 = df[df['adate_year']==2018]
p_2018

,Unnamed: 0,pheadline,pnumber,ptype,pstatus,iexpen,PBD,iname,iBVDid,gname,...,WGI_CC_d,WGI_VA,WGI_pstabilityNV,WGI_GE,WGI_RQ,WGI_RL,WGI_CC,ipri_d,ipri,adate_year
54025,54025,"Asics to open a sportswear store in Roubaix, F...",388863062,New,Completed Assumed,1.31,Retail,ASICS CORPORATION,JP8140001005877,ASICS CORPORATION,...,1.317086,1.016916,1.055935,1.675817,1.343600,1.533190,1.424979,7184,8231.0,2018
54027,54027,Patagonia is to open a outdoor clothing store ...,148921248,New,Completed Assumed,0.9,Retail,PATAGONIA INC.,USD788084350D,NaN,...,1.596492,1.045040,0.474065,1.576998,1.621254,1.513504,1.328681,8004,8124.0,2018
54028,54028,"Lidl to open a supermarket in Resita, Romania",592106243,New,Completed Assumed,7.09,Retail,LIDL STIFTUNG & CO. KG,DE7070027297,SCHWARZ BETEILIGUNGS-KG,...,-0.121651,1.423473,0.598785,1.619633,1.763705,1.629487,1.946862,5812,7909.0,2018
54029,54029,"Sorenson Media opens sales office in London, E...",124697944,New,Completed,2.06,Sales Office,SORENSON MEDIA INC.,US131959501L,SORENSON MEDIA INC.,...,1.826838,1.045040,0.474065,1.576998,1.621254,1.513504,1.328681,8141,8124.0,2018
54030,54030,Perekrestok opens a Karusel brand hypermarket ...,999811156,New,Completed,6.87,Retail,TORGOVYI DOM PEREKRESTOK AO,RU34589240,NURWERT HOLDINGS LIMITED,...,-0.845212,-1.056320,-0.532078,-0.060886,-0.546326,-0.815229,-0.845212,4890,4890.0,2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72359,72359,Recambios Frain to open a sales office in Port...,460417993,Co-Location,Completed Assumed,4.59,Sales Office,RECAMBIOS FRAIN SL,ESB27149244,RECAMBIOS FRAIN SL,...,0.849960,1.065460,0.295743,1.002136,0.949106,0.968263,0.613605,6934,6520,2018
72360,72360,Talent Garden and Rainmaking is to open a co-w...,329135748,New,Completed Assumed,n.a.,Commercial Real Estate,TALENT GARDEN SPA,IT03340710981,TALENT GARDEN SPA,...,0.497978,1.046784,0.350245,0.413884,0.726411,0.246396,0.235666,6424,5993,2018
72361,72361,Anton Paar opens a regional headquarters in Ch...,268986120,New,Completed,68.91,Regional Headquarters,ANTON PAAR USA INC.,US132197680L,ANTON PAAR GMBH,...,1.328681,1.045040,0.474065,1.576998,1.621254,1.513504,1.328681,8124,8124,2018
72362,72362,Recambios Frain to open a distribution centre ...,132995803,Co-Location,Completed Assumed,45.94,"Logistics, Distribution & Transportation",RECAMBIOS FRAIN SL,ESB27149244,RECAMBIOS FRAIN SL,...,0.849960,1.065460,0.295743,1.002136,0.949106,0.968263,0.613605,6934,6520,2018
72363,72363,SoftSolutions to open a sales office in Illino...,106592133,New,Completed Assumed,2.01,Sales Office,SOFTSOLUTIONS GMBH,AT9150083079,SCHULLER - IT GMBH,...,1.328681,1.380758,0.909404,1.453342,1.532049,1.874770,1.596492,8124,8004,2018

In [125]:
col2.remove('iBVDid')
p_2018.drop(col2,axis=1, inplace=True)

c:\users\sneha\appdata\local\programs\python\python39\lib\site-packages\pandas\core\frame.py:4305: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [126]:
comp_2017_selected = comp_2017_selected[comp_2017_selected['iBVDid'].notna()]
len(comp_2017_selected)

5559

In [127]:
p_consolidated_2018 = p_2018.merge(comp_2017_selected, on = 'iBVDid', how = 'left')
p_consolidated_2018

,Unnamed: 0,pheadline,pnumber,ptype,pstatus,iexpen,PBD,iname,iBVDid,gname,...,CF_share,expen_share,EPS,OperPS,OPPS,DPS,BVPS,TBVPS,LTLPS,WCPS
0,54025,"Asics to open a sportswear store in Roubaix, F...",388863062,New,Completed Assumed,1.31,Retail,ASICS CORPORATION,JP8140001005877,ASICS CORPORATION,...,0.9838,n.a.,0.536918,16.565243,0.807157,0.184632,8.333268,7.243206,2.981816,5.189964
1,54027,Patagonia is to open a outdoor clothing store ...,148921248,New,Completed Assumed,0.9,Retail,PATAGONIA INC.,USD788084350D,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,54028,"Lidl to open a supermarket in Resita, Romania",592106243,New,Completed Assumed,7.09,Retail,LIDL STIFTUNG & CO. KG,DE7070027297,SCHWARZ BETEILIGUNGS-KG,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.
3,54029,"Sorenson Media opens sales office in London, E...",124697944,New,Completed,2.06,Sales Office,SORENSON MEDIA INC.,US131959501L,SORENSON MEDIA INC.,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.
4,54030,Perekrestok opens a Karusel brand hypermarket ...,999811156,New,Completed,6.87,Retail,TORGOVYI DOM PEREKRESTOK AO,RU34589240,NURWERT HOLDINGS LIMITED,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14949,72359,Recambios Frain to open a sales office in Port...,460417993,Co-Location,Completed Assumed,4.59,Sales Office,RECAMBIOS FRAIN SL,ESB27149244,RECAMBIOS FRAIN SL,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.
14950,72360,Talent Garden and Rainmaking is to open a co-w...,329135748,New,Completed Assumed,n.a.,Commercial Real Estate,TALENT GARDEN SPA,IT03340710981,TALENT GARDEN SPA,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.
14951,72361,Anton Paar opens a regional headquarters in Ch...,268986120,New,Completed,68.91,Regional Headquarters,ANTON PAAR USA INC.,US132197680L,ANTON PAAR GMBH,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.
14952,72362,Recambios Frain to open a distribution centre ...,132995803,Co-Location,Completed Assumed,45.94,"Logistics, Distribution & Transportation",RECAMBIOS FRAIN SL,ESB27149244,RECAMBIOS FRAIN SL,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.
14953,72363,SoftSolutions to open a sales office in Illino...,106592133,New,Completed Assumed,2.01,Sales Office,SOFTSOLUTIONS GMBH,AT9150083079,SCHULLER - IT GMBH,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.

In [128]:
p_consolidated_2018[p_consolidated_2018['iBVDid']=='IT03292800376'][['oper_turnover']]

      oper_turnover
3970     610.310361
6299     610.310361
6792     610.310361
9077     610.310361
9232     610.310361
9986     610.310361
10307    610.310361
11973    610.310361

In [130]:
df2[(df2['iBVDid']=='IT03292800376') & (df2['adate_year'] == 2018)][['oper_turnover']]

      oper_turnover
58715           610
61579           610
62125           610
65053           610
65241           610
66174           610
66570           610
68712           610

## Do it for 2019 with 2018 Company Data

In [131]:
comp_2018 = pd.read_excel('companies_2018.xlsx',sheet_name='Results')
comp_2018.columns

Index(['Unnamed: 0', 'Company name Latin alphabet',
       'Operating revenue (Turnover)\nm USD 2018',
       'P/L before tax\nm USD 2018', 'Working capital\nm USD 2018',
       'Cash & cash equivalent\nm USD 2018',
       'Total Liabilities and Equity\nm USD 2018',
       'Short Term Debt, Net\nm USD 2018', 'Long Term Debt, Net\nm USD 2018',
       'Number of employees\n2018', 'Export revenue\nm USD 2018',
       'Costs of employees\nm USD 2018',
       'Research & Development expenses\nm USD 2018', 'Cash flow\nm USD 2018',
       'EBITDA\nm USD 2018', 'Profit margin (%)\n2018',
       'Export revenue / Operating revenue (%)\n2018',
       'R&D expenses / Operating revenue (%)\n2018', 'Current ratio (x)\n2018',
       'Liquidity ratio (x)\n2018', 'Profit per employee (th)\nth USD 2018',
       'Operating revenue per employee (th)\nth USD 2018',
       'Costs of employees / Operating revenue (%)\n2018',
       'Propensity to invest date\n2018', 'Propensity to invest\n2018',
       'Propensity to invest score\n2018', 'Stock split ratio\n2018',
       'Market price - year end\nUSD 2018', 'Market price - high\nUSD 2018',
       'Market price - low\nUSD 2018', 'Market price - open\nUSD 2018',
       'Shares outstanding \nth 2018', 'Nominal value\n2018',
       'Market capitalisation (mil)\nm USD 2018',
       'Earnings per share\nUSD 2018', 'Cash flow per share\nUSD 2018',
       'Capital expenditure per share\nUSD 2018',
       'Operating revenue (Turnover) per share\nUSD 2018',
       'Operating profit per share\nUSD 2018', 'Dividends per share\nUSD 2018',
       'Book Value per share\nUSD 2018',
       'Tangible Book Value per share\nUSD 2018',
       'Long Term Liabilities per share\nUSD 2018',
       'Working Capital per share\nUSD 2018', 'BvD ID number'],
      dtype='object')

In [132]:
col1 = [
'BvD ID number',
'Operating revenue (Turnover)\nm USD 2018' ,
'P/L before tax\nm USD 2018' ,
'Working capital\nm USD 2018' ,
'Cash & cash equivalent\nm USD 2018' ,
'Total Liabilities and Equity\nm USD 2018' ,
'Short Term Debt, Net\nm USD 2018' ,
'Long Term Debt, Net\nm USD 2018' ,
'Number of employees\n2018' ,
'Export revenue\nm USD 2018' ,
'Costs of employees\nm USD 2018' ,
'Research & Development expenses\nm USD 2018' ,
'Cash flow\nm USD 2018' ,
'EBITDA\nm USD 2018' ,
'Profit margin (%)\n2018' ,
'Export revenue / Operating revenue (%)\n2018' ,
'R&D expenses / Operating revenue (%)\n2018', 
'Current ratio (x)\n2018' ,
'Liquidity ratio (x)\n2018' ,
'Profit per employee (th)\nth USD 2018' ,
'Operating revenue per employee (th)\nth USD 2018' ,
'Costs of employees / Operating revenue (%)\n2018' ,
'Market price - year end\nUSD 2018' ,
'Market price - high\nUSD 2018' ,
'Market price - low\nUSD 2018' ,
'Earnings per share\nUSD 2018' ,
'Nominal value\n2018' ,
'Market capitalisation (mil)\nm USD 2018' ,
'Cash flow per share\nUSD 2018' ,
'Capital expenditure per share\nUSD 2018' ,
'Earnings per share\nUSD 2018' ,
'Operating revenue (Turnover) per share\nUSD 2018' ,
'Operating profit per share\nUSD 2018' ,
'Dividends per share\nUSD 2018' ,
'Book Value per share\nUSD 2018' ,
'Tangible Book Value per share\nUSD 2018' ,
'Long Term Liabilities per share\nUSD 2018' ,
'Working Capital per share\nUSD 2018' 
 ]

In [133]:
col2 = [
'iBVDid',
'oper_turnover',
'PL_beforetax',
'wcapital',
'cash',
'TLE',
'ST_debt',
'LT_debt',
'empl',
'EXP',
'cost_empl',
'RD',
'cashflow',
'EBITDA',
'profit_margin',
'ER_OR',
'RD_OR',
'current_ratio',
'iliquidity_ratio',
'profit_empl',
'OR_empl',
'cost_empl_OR',
'MP_current',
'MP_high',
'MP_low',
'Eshare',
'nvalue',
'mcapital',
'CF_share',
'expen_share',
'EPS',
'OperPS',
'OPPS',
'DPS',
'BVPS',
'TBVPS',
'LTLPS',
'WCPS'
]

In [134]:
comp_2018_selected = comp_2018[col1]
comp_2018_selected.columns = col2

In [135]:
p_2019 = df[df['adate_year']==2019]
p_2019

,Unnamed: 0,pheadline,pnumber,ptype,pstatus,iexpen,PBD,iname,iBVDid,gname,...,WGI_CC_d,WGI_VA,WGI_pstabilityNV,WGI_GE,WGI_RQ,WGI_RL,WGI_CC,ipri_d,ipri,adate_year
72645,72645,Ermenegildo Zegna Holditalia is to open a clot...,892757788,New,Completed Assumed,1.33,Retail,ERMENEGILDO ZEGNA HOLDITALIA SPA,IT00154990022,MONTERUBELLO SS,...,0.756734,0.972270,0.462699,0.461936,0.954963,0.280191,0.239842,6621,6126,2019
72646,72646,"Lego is to open a toy store in Chongqing, China",418407875,New,Completed Assumed,1.4,Retail,LEGO A/S,DK54562519,KIRKBI A/S,...,-0.323497,1.578779,1.008821,1.937899,1.565012,1.898457,2.107368,6033,8174,2019
72647,72647,"Jysk to open furniture store in Drogheda, Ireland",977013554,New,Completed Assumed,1.4,Retail,JYSK A/S,DK13590400,JYSK HOLDING A/S,...,1.458099,1.578779,1.008821,1.937899,1.565012,1.898457,2.107368,7612,8174,2019
72648,72648,"Jysk to open furniture store in Navan, Ireland",798462288,New,Completed Assumed,1.4,Retail,JYSK A/S,DK13590400,JYSK HOLDING A/S,...,1.458099,1.578779,1.008821,1.937899,1.565012,1.898457,2.107368,7612,8174,2019
72649,72649,LIFENEST to open a real estate agency in New Y...,975184462,New,Announced,3.33,Business Services,LIFENEST LTD,GB10026943,LIFENEST LTD,...,1.215326,1.263675,0.519189,1.435909,1.625853,1.600911,1.774812,8202,8044,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86883,86883,FitzGerald opens a new insurance office in Mad...,197197588,New,Completed,0.57,Banking & Finance,FITZGERALD CONSULTING ESPANA SL,NaN,FITZGERALD CONSULTING LTD,...,0.646796,1.085453,0.322873,0.999045,1.050190,0.979052,0.646796,6452.0,6452.0,2019
86884,86884,Riifo North America has opened a distribution ...,192531852,Co-Location,Completed,45.94,"Logistics, Distribution & Transportation",RIIFO NORTH AMERICA INC.,US301797233L,"RIFENG ENTERPRISE GROUP CO., LTD",...,1.215326,0.965248,0.297986,1.489182,1.345358,1.461094,1.215326,8202.0,8202.0,2019
86885,86885,Movo has opened a ride-sharing services in Chile,175119057,New,Completed,3.45,Business Services,MOBILITAS FUTURUS SL,ESB87874145,MAXI MOBILITY INC,...,1.088457,1.085453,0.322873,0.999045,1.050190,0.979052,0.646796,6880.0,6452.0,2019
86886,86886,Melia Hotels International SA's hotel in Punta...,152027116/2,Expansion,Completed,15,Hotels,MELIA HOTELS INTERNATIONAL SA,ESA78304516,MELIA HOTELS INTERNATIONAL SA,...,-0.763217,1.085453,0.322873,0.999045,1.050190,0.979052,0.646796,4894.0,6452.0,2019
86887,86887,Melia Hotels International SA's hotel in Punta...,152027116/1,Expansion,Completed,15,Hotels,MELIA HOTELS INTERNATIONAL SA,ESA78304516,MELIA HOTELS INTERNATIONAL SA,...,-0.763217,1.085453,0.322873,0.999045,1.050190,0.979052,0.646796,4894.0,6452.0,2019

In [136]:
col2.remove('iBVDid')
p_2019.drop(col2,axis=1, inplace=True)

c:\users\sneha\appdata\local\programs\python\python39\lib\site-packages\pandas\core\frame.py:4305: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [138]:
comp_2018_selected = comp_2018_selected[comp_2018_selected['iBVDid'].notna()]
len(comp_2018_selected)

4309

In [139]:
p_consolidated_2019 = []
p_consolidated_2019 = p_2019.merge(comp_2018_selected, on = 'iBVDid', how = 'left')
p_consolidated_2019

,Unnamed: 0,pheadline,pnumber,ptype,pstatus,iexpen,PBD,iname,iBVDid,gname,...,CF_share,expen_share,EPS,OperPS,OPPS,DPS,BVPS,TBVPS,LTLPS,WCPS
0,72645,Ermenegildo Zegna Holditalia is to open a clot...,892757788,New,Completed Assumed,1.33,Retail,ERMENEGILDO ZEGNA HOLDITALIA SPA,IT00154990022,MONTERUBELLO SS,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.
1,72646,"Lego is to open a toy store in Chongqing, China",418407875,New,Completed Assumed,1.4,Retail,LEGO A/S,DK54562519,KIRKBI A/S,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.
2,72647,"Jysk to open furniture store in Drogheda, Ireland",977013554,New,Completed Assumed,1.4,Retail,JYSK A/S,DK13590400,JYSK HOLDING A/S,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.
3,72648,"Jysk to open furniture store in Navan, Ireland",798462288,New,Completed Assumed,1.4,Retail,JYSK A/S,DK13590400,JYSK HOLDING A/S,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.
4,72649,LIFENEST to open a real estate agency in New Y...,975184462,New,Announced,3.33,Business Services,LIFENEST LTD,GB10026943,LIFENEST LTD,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11206,86883,FitzGerald opens a new insurance office in Mad...,197197588,New,Completed,0.57,Banking & Finance,FITZGERALD CONSULTING ESPANA SL,NaN,FITZGERALD CONSULTING LTD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11207,86884,Riifo North America has opened a distribution ...,192531852,Co-Location,Completed,45.94,"Logistics, Distribution & Transportation",RIIFO NORTH AMERICA INC.,US301797233L,"RIFENG ENTERPRISE GROUP CO., LTD",...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.
11208,86885,Movo has opened a ride-sharing services in Chile,175119057,New,Completed,3.45,Business Services,MOBILITAS FUTURUS SL,ESB87874145,MAXI MOBILITY INC,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.
11209,86886,Melia Hotels International SA's hotel in Punta...,152027116/2,Expansion,Completed,15,Hotels,MELIA HOTELS INTERNATIONAL SA,ESA78304516,MELIA HOTELS INTERNATIONAL SA,...,1.299576,n.a.,0.69845,9.12909,1.027066,0.209535,6.899773,6.024993,6.898628,-0.59311
11210,86887,Melia Hotels International SA's hotel in Punta...,152027116/1,Expansion,Completed,15,Hotels,MELIA HOTELS INTERNATIONAL SA,ESA78304516,MELIA HOTELS INTERNATIONAL SA,...,1.299576,n.a.,0.69845,9.12909,1.027066,0.209535,6.899773,6.024993,6.898628,-0.59311

In [146]:
comp_2018_selected[comp_2018_selected['iBVDid']=='GB01664812'][['oper_turnover']]

    oper_turnover
229   15412.71183

In [140]:

p_consolidated_2019[p_consolidated_2019['iBVDid']=='GB01664812'][['oper_turnover']]

     oper_turnover
5736   15412.71183

In [145]:
df2[(df2['iBVDid']=='GB01664812') & (df2['adate_year'] == 2019)][['oper_turnover']]

      oper_turnover
79770         15415

## Now do for where adate is missing we using the rumour date rdate

In [148]:
rcomp_2013 = pd.read_excel('Rdate_Companies_2013.xlsx',sheet_name='Results')
rcomp_2013.columns

Index(['Unnamed: 0', 'Company name Latin alphabet',
       'Operating revenue (Turnover)\nm USD 2013',
       'P/L before tax\nm USD 2013', 'Working capital\nm USD 2013',
       'Cash & cash equivalent\nm USD 2013',
       'Total Liabilities and Equity\nm USD 2013',
       'Short Term Debt, Net\nm USD 2013', 'Long Term Debt, Net\nm USD 2013',
       'Number of employees\n2013', 'Export revenue\nm USD 2013',
       'Costs of employees\nm USD 2013',
       'Research & Development expenses\nm USD 2013', 'Cash flow\nm USD 2013',
       'EBITDA\nm USD 2013', 'Profit margin (%)\n2013',
       'Export revenue / Operating revenue (%)\n2013',
       'R&D expenses / Operating revenue (%)\n2013', 'Current ratio\n2013',
       'Liquidity ratio\n2013', 'Profit per employee (th) (th)\nth USD 2013',
       'Operating revenue per employee (th) (th)\nth USD 2013',
       'Costs of employees / Operating revenue (%)\n2013',
       'Propensity to invest date\n2013', 'Propensity to invest\n2013',
       'Propensity to invest score\n2013', 'Stock split ratio\n2013',
       'Market price - year end\nUSD 2013', 'Market price - high\nUSD 2013',
       'Market price - low\nUSD 2013', 'Market price - open\nUSD 2013',
       'Shares outstanding (th)\nth 2013', 'Nominal value\n2013',
       'Market capitalisation (m)\nm USD 2013', 'Earnings per share\nUSD 2013',
       'Cash flow per share\nUSD 2013',
       'Capital expenditure per share\nUSD 2013',
       'Operating revenue (Turnover) per share\nUSD 2013',
       'Operating profit per share\nUSD 2013', 'Dividends per share\nUSD 2013',
       'Book Value per share\nUSD 2013',
       'Tangible Book Value per share\nUSD 2013',
       'Long Term Liabilities per share\nUSD 2013',
       'Working Capital per share\nUSD 2013', 'BvD ID number'],
      dtype='object')

In [149]:
col1 = [
'BvD ID number',
'Operating revenue (Turnover)\nm USD 2013' ,
'P/L before tax\nm USD 2013' ,
'Working capital\nm USD 2013' ,
'Cash & cash equivalent\nm USD 2013' ,
'Total Liabilities and Equity\nm USD 2013' ,
'Short Term Debt, Net\nm USD 2013' ,
'Long Term Debt, Net\nm USD 2013' ,
'Number of employees\n2013' ,
'Export revenue\nm USD 2013' ,
'Costs of employees\nm USD 2013' ,
'Research & Development expenses\nm USD 2013' ,
'Cash flow\nm USD 2013' ,
'EBITDA\nm USD 2013' ,
'Profit margin (%)\n2013' ,
'Export revenue / Operating revenue (%)\n2013' ,
'R&D expenses / Operating revenue (%)\n2013', 
'Current ratio\n2013' ,
'Liquidity ratio\n2013' ,
'Profit per employee (th) (th)\nth USD 2013' ,
'Operating revenue per employee (th) (th)\nth USD 2013' ,
'Costs of employees / Operating revenue (%)\n2013' ,
'Market price - year end\nUSD 2013' ,
'Market price - high\nUSD 2013' ,
'Market price - low\nUSD 2013' ,
'Earnings per share\nUSD 2013' ,
'Nominal value\n2013' ,
'Market capitalisation (m)\nm USD 2013' ,
'Cash flow per share\nUSD 2013' ,
'Capital expenditure per share\nUSD 2013' ,
'Earnings per share\nUSD 2013' ,
'Operating revenue (Turnover) per share\nUSD 2013' ,
'Operating profit per share\nUSD 2013' ,
'Dividends per share\nUSD 2013' ,
'Book Value per share\nUSD 2013' ,
'Tangible Book Value per share\nUSD 2013' ,
'Long Term Liabilities per share\nUSD 2013' ,
'Working Capital per share\nUSD 2013' 
 ]

In [150]:
col2 = [
'iBVDid',
'oper_turnover',
'PL_beforetax',
'wcapital',
'cash',
'TLE',
'ST_debt',
'LT_debt',
'empl',
'EXP',
'cost_empl',
'RD',
'cashflow',
'EBITDA',
'profit_margin',
'ER_OR',
'RD_OR',
'current_ratio',
'iliquidity_ratio',
'profit_empl',
'OR_empl',
'cost_empl_OR',
'MP_current',
'MP_high',
'MP_low',
'Eshare',
'nvalue',
'mcapital',
'CF_share',
'expen_share',
'EPS',
'OperPS',
'OPPS',
'DPS',
'BVPS',
'TBVPS',
'LTLPS',
'WCPS'
]

In [151]:
rcomp_2013_selected = rcomp_2013[col1]
rcomp_2013_selected.columns = col2

In [152]:
rp_2014 = r_df[r_df['rdate_year']==2014]
rp_2014

,Unnamed: 0,pheadline,pnumber,ptype,pstatus,iexpen,PBD,iname,iBVDid,gname,...,WGI_VA,WGI_pstabilityNV,WGI_GE,WGI_RQ,WGI_RL,WGI_CC,ipri_d,ipri,adate_year,rdate_year
132,132,Peugeot plans to open a Citroen DS brand deale...,390519775,New,Completed Assumed,1.46,Retail,PEUGEOT SA,FR552100554,PEUGEOT SA,...,1.218160,0.300568,1.403170,1.078786,1.474639,1.314697,8100,7300,<NA>,2014
133,133,Attijariwafa Bank plans to open banking branch...,979765180,New,Completed Assumed,12.44,Banking & Finance,ATTIJARIWAFA BANK,MA77391-81,SIGER AND ERGIS,...,-0.686271,-0.446266,-0.074534,-0.130392,-0.065145,-0.265682,NaN,5200,<NA>,2014
134,134,Attijariwafa Bank plans to open banking branch...,855294677,New,Completed Assumed,12.44,Banking & Finance,ATTIJARIWAFA BANK,MA77391-81,SIGER AND ERGIS,...,-0.686271,-0.446266,-0.074534,-0.130392,-0.065145,-0.265682,NaN,5200,<NA>,2014
135,135,Attijariwafa Bank plans to open banking branch...,653573748,New,Completed Assumed,12.44,Banking & Finance,ATTIJARIWAFA BANK,MA77391-81,SIGER AND ERGIS,...,-0.686271,-0.446266,-0.074534,-0.130392,-0.065145,-0.265682,4100,5200,<NA>,2014
136,136,Robert Bosch plans to open a distribution cent...,942679399,New,Completed Assumed,50.03,"Logistics, Distribution & Transportation",ROBERT BOSCH GMBH,DE7330000658,ROBERT BOSCH INDUSTRIETREUHAND KG,...,1.436330,0.925186,1.731392,1.703043,1.856834,1.838380,5800,7800,<NA>,2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
634,634,Xiaomi planning to open mobile phone and acces...,583784668,New,Completed Assumed,8.33,Retail,XIAOMI INC.,CN9366691849,XIAOMI INC.,...,-1.616668,-0.522584,0.322888,-0.282993,-0.414477,-0.340069,5500,5500,<NA>,2014
635,635,Xiaomi planning to open mobile phone and acces...,508779404,New,Completed Assumed,8.33,Retail,XIAOMI INC.,CN9366691849,XIAOMI INC.,...,-1.616668,-0.522584,0.322888,-0.282993,-0.414477,-0.340069,5000,5500,<NA>,2014
636,636,Xiaomi planning to open mobile phone and acces...,398928091,New,Completed Assumed,8.33,Retail,XIAOMI INC.,CN9366691849,XIAOMI INC.,...,-1.616668,-0.522584,0.322888,-0.282993,-0.414477,-0.340069,5300,5500,<NA>,2014
637,637,Xiaomi planning to open mobile phone and acces...,182133117,New,Completed Assumed,8.33,Retail,XIAOMI INC.,CN9366691849,XIAOMI INC.,...,-1.616668,-0.522584,0.322888,-0.282993,-0.414477,-0.340069,6500,5500,<NA>,2014
638,638,Asustek plans to open a computer manufacturing...,574169067,New,Completed Assumed,52.27,Manufacturing,ASUSTEK COMPUTER INC.,TW23638777,ASUSTEK COMPUTER INC.,...,NaN,NaN,NaN,NaN,NaN,NaN,3700,6900,<NA>,2014

In [153]:
col2.remove('iBVDid')
rp_2014.drop(col2,axis=1, inplace=True)

c:\users\sneha\appdata\local\programs\python\python39\lib\site-packages\pandas\core\frame.py:4305: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [154]:
len(rcomp_2013_selected)

28

In [155]:
rcomp_2013_selected = rcomp_2013_selected[rcomp_2013_selected['iBVDid'].notna()]
len(rcomp_2013_selected)

28

In [156]:
rp_consolidated_2014 = rp_2014.merge(rcomp_2013_selected, on = 'iBVDid', how = 'left')
rp_consolidated_2014

,Unnamed: 0,pheadline,pnumber,ptype,pstatus,iexpen,PBD,iname,iBVDid,gname,...,CF_share,expen_share,EPS,OperPS,OPPS,DPS,BVPS,TBVPS,LTLPS,WCPS
0,132,Peugeot plans to open a Citroen DS brand deale...,390519775,New,Completed Assumed,1.46,Retail,PEUGEOT SA,FR552100554,PEUGEOT SA,...,5.091637,n.a.,-9.044138,207.784854,-1.806621,n.a.,30.457423,8.736598,50.465405,-3.396723
1,133,Attijariwafa Bank plans to open banking branch...,979765180,New,Completed Assumed,12.44,Banking & Finance,ATTIJARIWAFA BANK,MA77391-81,SIGER AND ERGIS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,134,Attijariwafa Bank plans to open banking branch...,855294677,New,Completed Assumed,12.44,Banking & Finance,ATTIJARIWAFA BANK,MA77391-81,SIGER AND ERGIS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,135,Attijariwafa Bank plans to open banking branch...,653573748,New,Completed Assumed,12.44,Banking & Finance,ATTIJARIWAFA BANK,MA77391-81,SIGER AND ERGIS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,136,Robert Bosch plans to open a distribution cent...,942679399,New,Completed Assumed,50.03,"Logistics, Distribution & Transportation",ROBERT BOSCH GMBH,DE7330000658,ROBERT BOSCH INDUSTRIETREUHAND KG,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74,634,Xiaomi planning to open mobile phone and acces...,583784668,New,Completed Assumed,8.33,Retail,XIAOMI INC.,CN9366691849,XIAOMI INC.,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.
75,635,Xiaomi planning to open mobile phone and acces...,508779404,New,Completed Assumed,8.33,Retail,XIAOMI INC.,CN9366691849,XIAOMI INC.,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.
76,636,Xiaomi planning to open mobile phone and acces...,398928091,New,Completed Assumed,8.33,Retail,XIAOMI INC.,CN9366691849,XIAOMI INC.,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.
77,637,Xiaomi planning to open mobile phone and acces...,182133117,New,Completed Assumed,8.33,Retail,XIAOMI INC.,CN9366691849,XIAOMI INC.,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.
78,638,Asustek plans to open a computer manufacturing...,574169067,New,Completed Assumed,52.27,Manufacturing,ASUSTEK COMPUTER INC.,TW23638777,ASUSTEK COMPUTER INC.,...,1.094843,n.a.,0.961324,20.919614,1.045643,0.649116,6.138608,6.04184,0.358811,3.59324

## For rdate in 2015 add company data of 2014

In [157]:
rcomp_2014 = pd.read_excel('Rdate_Companies_2014.xlsx',sheet_name='Results')
rcomp_2014.columns

Index(['Unnamed: 0', 'Company name Latin alphabet',
       'Address line 1\nLatin Alphabet', 'Address line 2\nLatin Alphabet',
       'Address line 3\nLatin Alphabet', 'Address line 4\nLatin Alphabet',
       'Postcode\nLatin Alphabet', 'City\nLatin Alphabet', 'Standardized city',
       'Country',
       ...
       'LEI (Legal Entity Identifier)', 'Ticker symbol.1', 'ISIN number',
       'Company name\nLatin Alphabet', 'Previous company name\nLatin Alphabet',
       'National legal form', 'Date of incorporation',
       'Latest annual account closing date', 'Last avail. year',
       'Original currency\nLast avail. yr'],
      dtype='object', length=188)

In [158]:
col1 = [
'BvD ID number',
'Operating revenue (Turnover)\nm USD 2014' ,
'P/L before tax\nm USD 2014' ,
'Working capital\nm USD 2014' ,
'Cash & cash equivalent\nm USD 2014' ,
'Total Liabilities and Equity\nm USD 2014' ,
'Short Term Debt, Net\nm USD 2014' ,
'Long Term Debt, Net\nm USD 2014' ,
'Number of employees\n2014' ,
'Export revenue\nm USD 2014' ,
'Costs of employees\nm USD 2014' ,
'Research & Development expenses\nm USD 2014' ,
'Cash flow\nm USD 2014' ,
'EBITDA\nm USD 2014' ,
'Profit margin (%)\n2014' ,
'Export revenue / Operating revenue (%)\n2014' ,
'R&D expenses / Operating revenue (%)\n2014', 
'Current ratio (x)\n2014' ,
'Liquidity ratio (x)\n2014' ,
'Profit per employee (th)\nth USD 2014' ,
'Operating revenue per employee (th)\nth USD 2014' ,
'Costs of employees / Operating revenue (%)\n2014' ,
'Market price - year end\nUSD 2014' ,
'Market price - high\nUSD 2014' ,
'Market price - low\nUSD 2014' ,
'Earnings per share\nUSD 2014' ,
'Nominal value\n2014' ,
'Market capitalisation (mil)\nm USD 2014' ,
'Cash flow per share\nUSD 2014' ,
'Capital expenditure per share\nUSD 2014' ,
'Earnings per share\nUSD 2014' ,
'Operating revenue (Turnover) per share\nUSD 2014' ,
'Operating profit per share\nUSD 2014' ,
'Dividends per share\nUSD 2014' ,
'Book Value per share\nUSD 2014' ,
'Tangible Book Value per share\nUSD 2014' ,
'Long Term Liabilities per share\nUSD 2014' ,
'Working Capital per share\nUSD 2014' 
 ]

In [159]:
col2 = [
'iBVDid',
'oper_turnover',
'PL_beforetax',
'wcapital',
'cash',
'TLE',
'ST_debt',
'LT_debt',
'empl',
'EXP',
'cost_empl',
'RD',
'cashflow',
'EBITDA',
'profit_margin',
'ER_OR',
'RD_OR',
'current_ratio',
'iliquidity_ratio',
'profit_empl',
'OR_empl',
'cost_empl_OR',
'MP_current',
'MP_high',
'MP_low',
'Eshare',
'nvalue',
'mcapital',
'CF_share',
'expen_share',
'EPS',
'OperPS',
'OPPS',
'DPS',
'BVPS',
'TBVPS',
'LTLPS',
'WCPS'
]

In [160]:
rcomp_2014_selected = rcomp_2014[col1]
rcomp_2014_selected.columns = col2

In [161]:
(pd.to_datetime(df['rdate']).dt.year).astype('Int64')

0        2014
1        2014
2        2014
3        2014
4        2014
         ...
86883    2019
86884    2018
86885    2019
86886    2019
86887    2019
Name: rdate, Length: 86888, dtype: Int64

In [162]:
rp_2015 = r_df[r_df['rdate_year']==2015]
rp_2015

,Unnamed: 0,pheadline,pnumber,ptype,pstatus,iexpen,PBD,iname,iBVDid,gname,...,WGI_VA,WGI_pstabilityNV,WGI_GE,WGI_RQ,WGI_RL,WGI_CC,ipri_d,ipri,adate_year,rdate_year
723,723,REC Solar plans to invest in Southern Africa,880045688,New,Completed Assumed,59.33,Manufacturing,REC SOLAR ASA,NO912218929,NaN,...,1.687913,1.161716,1.864499,1.606871,2.011147,2.242804,NaN,8227,<NA>,2015
1183,1183,REC Solar plans to invest in West Africa,246851565,New,Completed Assumed,59.33,Manufacturing,REC SOLAR ASA,NO912218929,NaN,...,1.687913,1.161716,1.864499,1.606871,2.011147,2.242804,NaN,8227,<NA>,2015
1190,1190,Bosai Minerals may open an aluminium smelter i...,232562405,New,Cancelled,200,Manufacturing,"BOSAI MINERALS GROUP CO., LTD",CN9365915734,"BOSAI MINERALS GROUP CO., LTD",...,-1.660777,-0.550295,0.407864,-0.289439,-0.409797,-0.282107,5219,5389,<NA>,2015
1231,1231,REC Solar plans to invest in East Africa,184879737,New,Completed Assumed,59.33,Manufacturing,REC SOLAR ASA,NO912218929,NaN,...,1.687913,1.161716,1.864499,1.606871,2.011147,2.242804,NaN,8227,<NA>,2015
1300,1300,E-Mart plans to open discount store in Laos,994679610,New,Rumour - Strategy,n.a.,Retail,E-MART INC.,KR1101114594952,E-MART INC.,...,0.631014,0.161014,1.012394,1.113389,0.932385,0.373622,NaN,5931,<NA>,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16102,16102,Kate Spade & Walton Brown planning to open wom...,712849516,New,Completed Assumed,n.a.,Retail,WALTON BROWN (HONG KONG) LTD,HK0008953134,NaN,...,0.514810,1.046295,1.909176,2.189884,1.825610,1.651314,NaN,7602,<NA>,2015
16103,16103,Kate Spade & Walton Brown planning to open wom...,239735063,New,Completed Assumed,n.a.,Retail,KATE SPADE & COMPANY,US132842791,TAPESTRY INC.,...,1.109821,0.678062,1.463522,1.256155,1.596108,1.396935,6874,7606,<NA>,2015
16104,16104,Kate Spade & Walton Brown planning to open wom...,172220709,New,Completed Assumed,n.a.,Retail,WALTON BROWN (HONG KONG) LTD,HK0008953134,NaN,...,0.514810,1.046295,1.909176,2.189884,1.825610,1.651314,5389,7602,<NA>,2015
16105,16105,Kate Spade & Walton Brown planning to open wom...,166368735,New,Completed Assumed,n.a.,Retail,KATE SPADE & COMPANY,US132842791,TAPESTRY INC.,...,1.109821,0.678062,1.463522,1.256155,1.596108,1.396935,7602,7606,<NA>,2015
16106,16106,Superdry planning to open clothing stores in F...,504802239,New,Completed Assumed,n.a.,Retail,SUPERGROUP PLC,GB07063562,SUPERDRY PLC,...,1.297837,0.517748,1.743745,1.845658,1.813060,1.876371,7209,7690,<NA>,2015

In [163]:
col2.remove('iBVDid')
rp_2015.drop(col2,axis=1, inplace=True)

c:\users\sneha\appdata\local\programs\python\python39\lib\site-packages\pandas\core\frame.py:4305: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [165]:
len(rcomp_2014_selected)

29450

In [166]:
rcomp_2014_selected = rcomp_2014_selected[rcomp_2014_selected['iBVDid'].notna()]
len(rcomp_2014_selected)

226

In [167]:
rp_consolidated_2015 = rp_2015.merge(rcomp_2014_selected, on = 'iBVDid', how = 'left')
rp_consolidated_2015

,Unnamed: 0,pheadline,pnumber,ptype,pstatus,iexpen,PBD,iname,iBVDid,gname,...,CF_share,expen_share,EPS,OperPS,OPPS,DPS,BVPS,TBVPS,LTLPS,WCPS
0,723,REC Solar plans to invest in Southern Africa,880045688,New,Completed Assumed,59.33,Manufacturing,REC SOLAR ASA,NO912218929,NaN,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.
1,1183,REC Solar plans to invest in West Africa,246851565,New,Completed Assumed,59.33,Manufacturing,REC SOLAR ASA,NO912218929,NaN,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.
2,1190,Bosai Minerals may open an aluminium smelter i...,232562405,New,Cancelled,200,Manufacturing,"BOSAI MINERALS GROUP CO., LTD",CN9365915734,"BOSAI MINERALS GROUP CO., LTD",...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.
3,1231,REC Solar plans to invest in East Africa,184879737,New,Completed Assumed,59.33,Manufacturing,REC SOLAR ASA,NO912218929,NaN,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.
4,1300,E-Mart plans to open discount store in Laos,994679610,New,Rumour - Strategy,n.a.,Retail,E-MART INC.,KR1101114594952,E-MART INC.,...,21.628967,n.a.,9.464322,429.240814,19.024265,n.a.,225.422514,213.307233,115.760216,9.052344
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
562,16102,Kate Spade & Walton Brown planning to open wom...,712849516,New,Completed Assumed,n.a.,Retail,WALTON BROWN (HONG KONG) LTD,HK0008953134,NaN,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.
563,16103,Kate Spade & Walton Brown planning to open wom...,239735063,New,Completed Assumed,n.a.,Retail,KATE SPADE & COMPANY,US132842791,TAPESTRY INC.,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.
564,16104,Kate Spade & Walton Brown planning to open wom...,172220709,New,Completed Assumed,n.a.,Retail,WALTON BROWN (HONG KONG) LTD,HK0008953134,NaN,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.
565,16105,Kate Spade & Walton Brown planning to open wom...,166368735,New,Completed Assumed,n.a.,Retail,KATE SPADE & COMPANY,US132842791,TAPESTRY INC.,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.
566,16106,Superdry planning to open clothing stores in F...,504802239,New,Completed Assumed,n.a.,Retail,SUPERGROUP PLC,GB07063562,SUPERDRY PLC,...,1.032809,n.a.,0.56855,9.049698,1.031127,n.a.,5.426454,4.455883,0.659383,1.411282

## For rdate in 2016 add company data of 2015

In [168]:
rcomp_2015 = pd.read_excel('Rdate_Companies_2015.xlsx',sheet_name='Results')
rcomp_2015.columns

Index(['Unnamed: 0', 'Company name Latin alphabet',
       'Operating revenue (Turnover)\nm USD 2015',
       'P/L before tax\nm USD 2015', 'Working capital\nm USD 2015',
       'Cash & cash equivalent\nm USD 2015',
       'Total Liabilities and Equity\nm USD 2015',
       'Short Term Debt, Net\nm USD 2015', 'Long Term Debt, Net\nm USD 2015',
       'Number of employees\n2015', 'Export revenue\nm USD 2015',
       'Costs of employees\nm USD 2015',
       'Research & Development expenses\nm USD 2015', 'Cash flow\nm USD 2015',
       'EBITDA\nm USD 2015', 'Profit margin (%)\n2015',
       'Export revenue / Operating revenue (%)\n2015',
       'R&D expenses / Operating revenue (%)\n2015', 'Current ratio (x)\n2015',
       'Liquidity ratio (x)\n2015', 'Profit per employee (th)\nth USD 2015',
       'Operating revenue per employee (th)\nth USD 2015',
       'Costs of employees / Operating revenue (%)\n2015',
       'Propensity to invest date\n2015', 'Propensity to invest\n2015',
       'Propensity to invest score\n2015', 'Stock split ratio\n2015',
       'Market price - year end\nUSD 2015', 'Market price - high\nUSD 2015',
       'Market price - low\nUSD 2015', 'Market price - open\nUSD 2015',
       'Shares outstanding \nth 2015', 'Nominal value\n2015',
       'Market capitalisation (mil)\nm USD 2015',
       'Earnings per share\nUSD 2015', 'Cash flow per share\nUSD 2015',
       'Capital expenditure per share\nUSD 2015',
       'Operating revenue (Turnover) per share\nUSD 2015',
       'Operating profit per share\nUSD 2015', 'Dividends per share\nUSD 2015',
       'Book Value per share\nUSD 2015',
       'Tangible Book Value per share\nUSD 2015',
       'Long Term Liabilities per share\nUSD 2015',
       'Working Capital per share\nUSD 2015', 'BvD ID number'],
      dtype='object')

In [169]:
col1 = [
'BvD ID number',
'Operating revenue (Turnover)\nm USD 2015' ,
'P/L before tax\nm USD 2015' ,
'Working capital\nm USD 2015' ,
'Cash & cash equivalent\nm USD 2015' ,
'Total Liabilities and Equity\nm USD 2015' ,
'Short Term Debt, Net\nm USD 2015' ,
'Long Term Debt, Net\nm USD 2015' ,
'Number of employees\n2015' ,
'Export revenue\nm USD 2015' ,
'Costs of employees\nm USD 2015' ,
'Research & Development expenses\nm USD 2015' ,
'Cash flow\nm USD 2015' ,
'EBITDA\nm USD 2015' ,
'Profit margin (%)\n2015' ,
'Export revenue / Operating revenue (%)\n2015' ,
'R&D expenses / Operating revenue (%)\n2015', 
'Current ratio (x)\n2015' ,
'Liquidity ratio (x)\n2015' ,
'Profit per employee (th)\nth USD 2015' ,
'Operating revenue per employee (th)\nth USD 2015' ,
'Costs of employees / Operating revenue (%)\n2015' ,
'Market price - year end\nUSD 2015' ,
'Market price - high\nUSD 2015' ,
'Market price - low\nUSD 2015' ,
'Earnings per share\nUSD 2015' ,
'Nominal value\n2015' ,
'Market capitalisation (mil)\nm USD 2015' ,
'Cash flow per share\nUSD 2015' ,
'Capital expenditure per share\nUSD 2015' ,
'Earnings per share\nUSD 2015' ,
'Operating revenue (Turnover) per share\nUSD 2015' ,
'Operating profit per share\nUSD 2015' ,
'Dividends per share\nUSD 2015' ,
'Book Value per share\nUSD 2015' ,
'Tangible Book Value per share\nUSD 2015' ,
'Long Term Liabilities per share\nUSD 2015' ,
'Working Capital per share\nUSD 2015' 
 ]

In [170]:
col2 = [
'iBVDid',
'oper_turnover',
'PL_beforetax',
'wcapital',
'cash',
'TLE',
'ST_debt',
'LT_debt',
'empl',
'EXP',
'cost_empl',
'RD',
'cashflow',
'EBITDA',
'profit_margin',
'ER_OR',
'RD_OR',
'current_ratio',
'iliquidity_ratio',
'profit_empl',
'OR_empl',
'cost_empl_OR',
'MP_current',
'MP_high',
'MP_low',
'Eshare',
'nvalue',
'mcapital',
'CF_share',
'expen_share',
'EPS',
'OperPS',
'OPPS',
'DPS',
'BVPS',
'TBVPS',
'LTLPS',
'WCPS'
]

In [171]:
rcomp_2015_selected = rcomp_2015[col1]
rcomp_2015_selected.columns = col2

In [172]:
rp_2016 = r_df[r_df['rdate_year']==2016]
rp_2016

,Unnamed: 0,pheadline,pnumber,ptype,pstatus,iexpen,PBD,iname,iBVDid,gname,...,WGI_VA,WGI_pstabilityNV,WGI_GE,WGI_RQ,WGI_RL,WGI_CC,ipri_d,ipri,adate_year,rdate_year
16199,16199,Guzman y Gomez plans to open 25 taquerias in A...,919510582,New,Rumour,n.a.,Entertainment,GUZMAN Y GOMEZ PTY LTD,AU116196288,GUZMAN Y GOMEZ (HOLDINGS) PTY LTD,...,1.353702,1.047958,1.568509,1.896966,1.755521,1.816115,NaN,7931,<NA>,2016
16305,16305,Guzman y Gomez plans to open 25 taquerias in A...,829908894,New,Rumour,n.a.,Entertainment,GUZMAN Y GOMEZ PTY LTD,AU116196288,GUZMAN Y GOMEZ (HOLDINGS) PTY LTD,...,1.353702,1.047958,1.568509,1.896966,1.755521,1.816115,NaN,7931,<NA>,2016
16414,16414,Eataly plans to open store in Boston,734785845,New,Completed Assumed,6.32,Retail,EATALY SRL,IT02933150043,EATINVEST SRL,...,1.034976,0.369415,0.534770,0.710592,0.329160,0.084407,7737,5656.0,<NA>,2016
16535,16535,Hyatt plan to open Riyadh Olaya hotel in Saudi...,637537047,New,Completed Assumed,21.08,Hotels,HYATT HOTELS CORPORATION,US201480589,HYATT HOTELS CORPORATION,...,1.110259,0.402303,1.476793,1.497076,1.617996,1.373532,6101,7737.0,<NA>,2016
16557,16557,Eataly plans to open second store in New York,619848755,New,Completed Assumed,6.32,Retail,EATALY SRL,IT02933150043,EATINVEST SRL,...,1.034976,0.369415,0.534770,0.710592,0.329160,0.084407,7737,5656.0,<NA>,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32561,32561,NH Hotel plans to open a hotel in France,183061588,New,Completed Assumed,21.81,Hotels,NH HOTEL GROUP SA,ESA28027944,VACON PROPERTIES S.A.,...,1.041618,0.413188,1.115842,1.008604,0.978825,0.515631,7258,5850,<NA>,2016
32562,32562,NH Hotel plans to open a hotel in Austria,158156083,New,Completed Assumed,21.81,Hotels,NH HOTEL GROUP SA,ESA28027944,VACON PROPERTIES S.A.,...,1.041618,0.413188,1.115842,1.008604,0.978825,0.515631,7591,5850,<NA>,2016
32563,32563,"NH Hotel plans to open a hotel in Mexico City,...",109298134,New,Completed Assumed,21.81,Hotels,NH HOTEL GROUP SA,ESA28027944,VACON PROPERTIES S.A.,...,1.041618,0.413188,1.115842,1.008604,0.978825,0.515631,4788,5850,<NA>,2016
32564,32564,Asda Stores plans new stores in Northern Irela...,588893642,New,Completed Assumed,n.a.,Retail,ASDA STORES LTD,GB00464777,WALMART INC.,...,1.295399,0.360454,1.601618,1.760709,1.691507,1.898977,7755,7755,<NA>,2016
32565,32565,Kruidvat plans to open pharmacies in France,740739214,New,Completed Assumed,1.29,Retail,KRUIDVAT HOLDING BV,NL31035585,LI KA-SHING UNITY HOLDINGS LTD,...,1.540341,0.912268,1.833539,1.976167,1.894410,1.913111,7258,8027,<NA>,2016

In [173]:
col2.remove('iBVDid')
rp_2016.drop(col2,axis=1, inplace=True)

c:\users\sneha\appdata\local\programs\python\python39\lib\site-packages\pandas\core\frame.py:4305: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [174]:
len(rcomp_2015_selected)

1292

In [175]:
rcomp_2015_selected = rcomp_2015_selected[rcomp_2015_selected['iBVDid'].notna()]
len(rcomp_2015_selected)

1292

In [176]:
rp_consolidated_2016 = rp_2016.merge(rcomp_2015_selected, on = 'iBVDid', how = 'left')
rp_consolidated_2016

,Unnamed: 0,pheadline,pnumber,ptype,pstatus,iexpen,PBD,iname,iBVDid,gname,...,CF_share,expen_share,EPS,OperPS,OPPS,DPS,BVPS,TBVPS,LTLPS,WCPS
0,16199,Guzman y Gomez plans to open 25 taquerias in A...,919510582,New,Rumour,n.a.,Entertainment,GUZMAN Y GOMEZ PTY LTD,AU116196288,GUZMAN Y GOMEZ (HOLDINGS) PTY LTD,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.
1,16305,Guzman y Gomez plans to open 25 taquerias in A...,829908894,New,Rumour,n.a.,Entertainment,GUZMAN Y GOMEZ PTY LTD,AU116196288,GUZMAN Y GOMEZ (HOLDINGS) PTY LTD,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.
2,16414,Eataly plans to open store in Boston,734785845,New,Completed Assumed,6.32,Retail,EATALY SRL,IT02933150043,EATINVEST SRL,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.
3,16535,Hyatt plan to open Riyadh Olaya hotel in Saudi...,637537047,New,Completed Assumed,21.08,Hotels,HYATT HOTELS CORPORATION,US201480589,HYATT HOTELS CORPORATION,...,15.378,n.a.,4.247,148.234,10.892,n.a.,136.692,113.539,85.385,5.788
4,16557,Eataly plans to open second store in New York,619848755,New,Completed Assumed,6.32,Retail,EATALY SRL,IT02933150043,EATINVEST SRL,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4743,32561,NH Hotel plans to open a hotel in France,183061588,New,Completed Assumed,21.81,Hotels,NH HOTEL GROUP SA,ESA28027944,VACON PROPERTIES S.A.,...,0.340763,n.a.,0.009798,4.282946,0.113225,n.a.,3.50017,2.759854,3.589444,-0.150241
4744,32562,NH Hotel plans to open a hotel in Austria,158156083,New,Completed Assumed,21.81,Hotels,NH HOTEL GROUP SA,ESA28027944,VACON PROPERTIES S.A.,...,0.340763,n.a.,0.009798,4.282946,0.113225,n.a.,3.50017,2.759854,3.589444,-0.150241
4745,32563,"NH Hotel plans to open a hotel in Mexico City,...",109298134,New,Completed Assumed,21.81,Hotels,NH HOTEL GROUP SA,ESA28027944,VACON PROPERTIES S.A.,...,0.340763,n.a.,0.009798,4.282946,0.113225,n.a.,3.50017,2.759854,3.589444,-0.150241
4746,32564,Asda Stores plans new stores in Northern Irela...,588893642,New,Completed Assumed,n.a.,Retail,ASDA STORES LTD,GB00464777,WALMART INC.,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.
4747,32565,Kruidvat plans to open pharmacies in France,740739214,New,Completed Assumed,1.29,Retail,KRUIDVAT HOLDING BV,NL31035585,LI KA-SHING UNITY HOLDINGS LTD,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.

## Add into rdate 2017 company data of 2016

In [177]:
rcomp_2016 = pd.read_excel('Rdate_Companies_2016.xlsx',sheet_name='Results')
rcomp_2016.columns

Index(['Unnamed: 0', 'Company name Latin alphabet',
       'Operating revenue (Turnover)\nm USD 2015',
       'P/L before tax\nm USD 2015', 'Working capital\nm USD 2015',
       'Cash & cash equivalent\nm USD 2015',
       'Total Liabilities and Equity\nm USD 2015',
       'Short Term Debt, Net\nm USD 2015', 'Long Term Debt, Net\nm USD 2015',
       'Number of employees\n2015', 'Export revenue\nm USD 2015',
       'Costs of employees\nm USD 2015',
       'Research & Development expenses\nm USD 2015', 'Cash flow\nm USD 2015',
       'EBITDA\nm USD 2015', 'Profit margin (%)\n2015',
       'Export revenue / Operating revenue (%)\n2015',
       'R&D expenses / Operating revenue (%)\n2015', 'Current ratio (x)\n2015',
       'Liquidity ratio (x)\n2015', 'Profit per employee (th)\nth USD 2015',
       'Operating revenue per employee (th)\nth USD 2015',
       'Costs of employees / Operating revenue (%)\n2015',
       'Propensity to invest date\n2015', 'Propensity to invest\n2015',
       'Propensity to invest score\n2015', 'Stock split ratio\n2015',
       'Market price - year end\nUSD 2015', 'Market price - high\nUSD 2015',
       'Market price - low\nUSD 2015', 'Market price - open\nUSD 2015',
       'Shares outstanding \nth 2015', 'Nominal value\n2015',
       'Market capitalisation (mil)\nm USD 2015',
       'Earnings per share\nUSD 2015', 'Cash flow per share\nUSD 2015',
       'Capital expenditure per share\nUSD 2015',
       'Operating revenue (Turnover) per share\nUSD 2015',
       'Operating profit per share\nUSD 2015', 'Dividends per share\nUSD 2015',
       'Book Value per share\nUSD 2015',
       'Tangible Book Value per share\nUSD 2015',
       'Long Term Liabilities per share\nUSD 2015',
       'Working Capital per share\nUSD 2015', 'BvD ID number',
       'Operating revenue (Turnover)\nm USD 2016',
       'P/L before tax\nm USD 2016', 'Working capital\nm USD 2016',
       'Cash & cash equivalent\nm USD 2016',
       'Total Liabilities and Equity\nm USD 2016',
       'Short Term Debt, Net\nm USD 2016', 'Long Term Debt, Net\nm USD 2016',
       'Number of employees\n2016', 'Export revenue\nm USD 2016',
       'Costs of employees\nm USD 2016',
       'Research & Development expenses\nm USD 2016', 'Cash flow\nm USD 2016',
       'EBITDA\nm USD 2016', 'Profit margin (%)\n2016',
       'Export revenue / Operating revenue (%)\n2016',
       'R&D expenses / Operating revenue (%)\n2016', 'Current ratio (x)\n2016',
       'Liquidity ratio (x)\n2016', 'Profit per employee (th)\nth USD 2016',
       'Operating revenue per employee (th)\nth USD 2016',
       'Costs of employees / Operating revenue (%)\n2016',
       'Propensity to invest date\n2016', 'Propensity to invest\n2016',
       'Propensity to invest score\n2016', 'Stock split ratio\n2016',
       'Market price - year end\nUSD 2016', 'Market price - high\nUSD 2016',
       'Market price - low\nUSD 2016', 'Market price - open\nUSD 2016',
       'Shares outstanding \nth 2016', 'Nominal value\n2016',
       'Market capitalisation (mil)\nm USD 2016',
       'Earnings per share\nUSD 2016', 'Cash flow per share\nUSD 2016',
       'Capital expenditure per share\nUSD 2016',
       'Operating revenue (Turnover) per share\nUSD 2016',
       'Operating profit per share\nUSD 2016', 'Dividends per share\nUSD 2016',
       'Book Value per share\nUSD 2016',
       'Tangible Book Value per share\nUSD 2016',
       'Long Term Liabilities per share\nUSD 2016',
       'Working Capital per share\nUSD 2016', 'BvD ID number.1'],
      dtype='object')

In [178]:
col1 = [
'BvD ID number',
'Operating revenue (Turnover)\nm USD 2016' ,
'P/L before tax\nm USD 2016' ,
'Working capital\nm USD 2016' ,
'Cash & cash equivalent\nm USD 2016' ,
'Total Liabilities and Equity\nm USD 2016' ,
'Short Term Debt, Net\nm USD 2016' ,
'Long Term Debt, Net\nm USD 2016' ,
'Number of employees\n2016' ,
'Export revenue\nm USD 2016' ,
'Costs of employees\nm USD 2016' ,
'Research & Development expenses\nm USD 2016' ,
'Cash flow\nm USD 2016' ,
'EBITDA\nm USD 2016' ,
'Profit margin (%)\n2016' ,
'Export revenue / Operating revenue (%)\n2016' ,
'R&D expenses / Operating revenue (%)\n2016', 
'Current ratio (x)\n2016' ,
'Liquidity ratio (x)\n2016' ,
'Profit per employee (th)\nth USD 2016' ,
'Operating revenue per employee (th)\nth USD 2016' ,
'Costs of employees / Operating revenue (%)\n2016' ,
'Market price - year end\nUSD 2016' ,
'Market price - high\nUSD 2016' ,
'Market price - low\nUSD 2016' ,
'Earnings per share\nUSD 2016' ,
'Nominal value\n2016' ,
'Market capitalisation (mil)\nm USD 2016' ,
'Cash flow per share\nUSD 2016' ,
'Capital expenditure per share\nUSD 2016' ,
'Earnings per share\nUSD 2016' ,
'Operating revenue (Turnover) per share\nUSD 2016' ,
'Operating profit per share\nUSD 2016' ,
'Dividends per share\nUSD 2016' ,
'Book Value per share\nUSD 2016' ,
'Tangible Book Value per share\nUSD 2016' ,
'Long Term Liabilities per share\nUSD 2016' ,
'Working Capital per share\nUSD 2016' 
 ]

In [179]:
col2 = [
'iBVDid',
'oper_turnover',
'PL_beforetax',
'wcapital',
'cash',
'TLE',
'ST_debt',
'LT_debt',
'empl',
'EXP',
'cost_empl',
'RD',
'cashflow',
'EBITDA',
'profit_margin',
'ER_OR',
'RD_OR',
'current_ratio',
'iliquidity_ratio',
'profit_empl',
'OR_empl',
'cost_empl_OR',
'MP_current',
'MP_high',
'MP_low',
'Eshare',
'nvalue',
'mcapital',
'CF_share',
'expen_share',
'EPS',
'OperPS',
'OPPS',
'DPS',
'BVPS',
'TBVPS',
'LTLPS',
'WCPS'
]

In [180]:
rcomp_2016_selected = rcomp_2016[col1]
rcomp_2016_selected.columns = col2

In [181]:
rp_2017 = r_df[r_df['rdate_year']==2017]
rp_2017

,Unnamed: 0,pheadline,pnumber,ptype,pstatus,iexpen,PBD,iname,iBVDid,gname,...,WGI_VA,WGI_pstabilityNV,WGI_GE,WGI_RQ,WGI_RL,WGI_CC,ipri_d,ipri,adate_year,rdate_year
32585,32585,Naked Hub plans to open co-working space in Vi...,994925433,New,Rumour,n.a.,Commercial Real Estate,SHANGHAI NAKED HUB ENTERPRISE MANAGEMENT CONSU...,CN9403441802,WEWORK COMPANIES INC.,...,-1.503042,-0.231013,0.420470,-0.147617,-0.262956,-0.269941,4930,5712,<NA>,2017
32645,32645,"DM considers opening cosmetic stores in Sofia,...",954030673,New,Completed Assumed,n.a.,Retail,DM-DROGERIE MARKT GMBH + CO. KG,DE7110000091,DM-DROGERIE-MARKT WERNER GMBH,...,1.389825,0.587577,1.719291,1.783135,1.608339,1.841110,4813,7959,<NA>,2017
33021,33021,Guess? may open 60 clothing stores in Europe,733796446,New,Rumour,n.a.,Retail,GUESS? INC.,US953679695,GUESS? INC.,...,1.050724,0.335553,1.554298,1.628115,1.644761,1.381257,NaN,8074,<NA>,2017
33071,33071,"DM considers opening cosmetic stores in Varna,...",710568407,New,Completed Assumed,n.a.,Retail,DM-DROGERIE MARKT GMBH + CO. KG,DE7110000091,DM-DROGERIE-MARKT WERNER GMBH,...,1.389825,0.587577,1.719291,1.783135,1.608339,1.841110,4813,7959,<NA>,2017
33155,33155,DM considers opening cosmetic stores in Burgas...,674771779,New,Completed Assumed,n.a.,Retail,DM-DROGERIE MARKT GMBH + CO. KG,DE7110000091,DM-DROGERIE-MARKT WERNER GMBH,...,1.389825,0.587577,1.719291,1.783135,1.608339,1.841110,4813,7959,<NA>,2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54020,54020,ACG Associated Capsules planning to open manuf...,199004853,New,Completed Assumed,50.8,Manufacturing,ACG ASSOCIATED CAPSULES PVT LTD,IN0001325581,ORIND ESTATES PRIVATE LIMITED,...,0.386462,-0.764699,0.089892,-0.254030,0.004769,-0.239812,5434,5564.0,<NA>,2017
54021,54021,"Hilton planning to open hotel in Ningbo, China",917873991,New,Completed Assumed,20.97,Hotels,HILTON WORLDWIDE HOLDINGS INC.,US274384691,HILTON WORLDWIDE,...,1.050724,0.335553,1.554298,1.628115,1.644761,1.381257,5712,8074.0,<NA>,2017
54022,54022,"Hilton planning to open hotel in Xiangshan, China",410107708,New,Completed Assumed,20.97,Hotels,HILTON WORLDWIDE HOLDINGS INC.,US274384691,HILTON WORLDWIDE,...,1.050724,0.335553,1.554298,1.628115,1.644761,1.381257,5712,8074.0,<NA>,2017
54023,54023,Chad Harrison Ltd's recruitment office in Sout...,705656307/2,New,Completed Assumed,10.41,Business Services,CHAD HARRISON LTD,GB08696127,BLUESTONES INVESTMENT GROUP LTD,...,1.333097,0.331547,1.414133,1.714478,1.679469,1.843364,NaN,8129.0,<NA>,2017
54024,54024,Chad Harrison Ltd's recruitment office in Nort...,705656307/1,New,Completed Assumed,10.41,Business Services,CHAD HARRISON LTD,GB08696127,BLUESTONES INVESTMENT GROUP LTD,...,1.333097,0.331547,1.414133,1.714478,1.679469,1.843364,NaN,8129.0,<NA>,2017

In [182]:
col2.remove('iBVDid')
rp_2017.drop(col2,axis=1, inplace=True)

c:\users\sneha\appdata\local\programs\python\python39\lib\site-packages\pandas\core\frame.py:4305: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [183]:
len(rcomp_2016_selected)

1459

In [184]:
rcomp_2016_selected = rcomp_2016_selected[rcomp_2016_selected['iBVDid'].notna()]
len(rcomp_2016_selected)

1459

In [185]:
rp_consolidated_2017 = rp_2017.merge(rcomp_2016_selected, on = 'iBVDid', how = 'left')
rp_consolidated_2017

,Unnamed: 0,pheadline,pnumber,ptype,pstatus,iexpen,PBD,iname,iBVDid,gname,...,CF_share,expen_share,EPS,OperPS,OPPS,DPS,BVPS,TBVPS,LTLPS,WCPS
0,32585,Naked Hub plans to open co-working space in Vi...,994925433,New,Rumour,n.a.,Commercial Real Estate,SHANGHAI NAKED HUB ENTERPRISE MANAGEMENT CONSU...,CN9403441802,WEWORK COMPANIES INC.,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.
1,32645,"DM considers opening cosmetic stores in Sofia,...",954030673,New,Completed Assumed,n.a.,Retail,DM-DROGERIE MARKT GMBH + CO. KG,DE7110000091,DM-DROGERIE-MARKT WERNER GMBH,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.
2,33021,Guess? may open 60 clothing stores in Europe,733796446,New,Rumour,n.a.,Retail,GUESS? INC.,US953679695,GUESS? INC.,...,1.499,n.a.,0.27,25.965,0.357,0.913,11.489,11.008,2.606,4.238
3,33071,"DM considers opening cosmetic stores in Varna,...",710568407,New,Completed Assumed,n.a.,Retail,DM-DROGERIE MARKT GMBH + CO. KG,DE7110000091,DM-DROGERIE-MARKT WERNER GMBH,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.
4,33155,DM considers opening cosmetic stores in Burgas...,674771779,New,Completed Assumed,n.a.,Retail,DM-DROGERIE MARKT GMBH + CO. KG,DE7110000091,DM-DROGERIE-MARKT WERNER GMBH,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4125,54020,ACG Associated Capsules planning to open manuf...,199004853,New,Completed Assumed,50.8,Manufacturing,ACG ASSOCIATED CAPSULES PVT LTD,IN0001325581,ORIND ESTATES PRIVATE LIMITED,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.
4126,54021,"Hilton planning to open hotel in Ningbo, China",917873991,New,Completed Assumed,20.97,Hotels,HILTON WORLDWIDE HOLDINGS INC.,US274384691,HILTON WORLDWIDE,...,3.064,n.a.,1.024,19.932,2.631,0.846,17.88,-16.904,53.43,n.a.
4127,54022,"Hilton planning to open hotel in Xiangshan, China",410107708,New,Completed Assumed,20.97,Hotels,HILTON WORLDWIDE HOLDINGS INC.,US274384691,HILTON WORLDWIDE,...,3.064,n.a.,1.024,19.932,2.631,0.846,17.88,-16.904,53.43,n.a.
4128,54023,Chad Harrison Ltd's recruitment office in Sout...,705656307/2,New,Completed Assumed,10.41,Business Services,CHAD HARRISON LTD,GB08696127,BLUESTONES INVESTMENT GROUP LTD,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.
4129,54024,Chad Harrison Ltd's recruitment office in Nort...,705656307/1,New,Completed Assumed,10.41,Business Services,CHAD HARRISON LTD,GB08696127,BLUESTONES INVESTMENT GROUP LTD,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.

## Rdate 2018 with 2017 company data

In [187]:
rcomp_2017 = pd.read_excel('Rdata_Companies_2017.xlsx',sheet_name='Results')
rcomp_2017.columns

Index(['Unnamed: 0', 'Company name Latin alphabet',
       'Operating revenue (Turnover)\nm USD 2017',
       'P/L before tax\nm USD 2017', 'Working capital\nm USD 2017',
       'Cash & cash equivalent\nm USD 2017',
       'Total Liabilities and Equity\nm USD 2017',
       'Short Term Debt, Net\nm USD 2017', 'Long Term Debt, Net\nm USD 2017',
       'Number of employees\n2017', 'Export revenue\nm USD 2017',
       'Costs of employees\nm USD 2017',
       'Research & Development expenses\nm USD 2017', 'Cash flow\nm USD 2017',
       'EBITDA\nm USD 2017', 'Profit margin (%)\n2017',
       'Export revenue / Operating revenue (%)\n2017',
       'R&D expenses / Operating revenue (%)\n2017', 'Current ratio (x)\n2017',
       'Liquidity ratio (x)\n2017', 'Profit per employee (th)\nth USD 2017',
       'Operating revenue per employee (th)\nth USD 2017',
       'Costs of employees / Operating revenue (%)\n2017',
       'Propensity to invest date\n2017', 'Propensity to invest\n2017',
       'Propensity to invest score\n2017', 'Stock split ratio\n2017',
       'Market price - year end\nUSD 2017', 'Market price - high\nUSD 2017',
       'Market price - low\nUSD 2017', 'Market price - open\nUSD 2017',
       'Shares outstanding \nth 2017', 'Nominal value\n2017',
       'Market capitalisation (mil)\nm USD 2017',
       'Earnings per share\nUSD 2017', 'Cash flow per share\nUSD 2017',
       'Capital expenditure per share\nUSD 2017',
       'Operating revenue (Turnover) per share\nUSD 2017',
       'Operating profit per share\nUSD 2017', 'Dividends per share\nUSD 2017',
       'Book Value per share\nUSD 2017',
       'Tangible Book Value per share\nUSD 2017',
       'Long Term Liabilities per share\nUSD 2017',
       'Working Capital per share\nUSD 2017', 'BvD ID number'],
      dtype='object')

In [188]:
col1 = [
'BvD ID number',
'Operating revenue (Turnover)\nm USD 2017' ,
'P/L before tax\nm USD 2017' ,
'Working capital\nm USD 2017' ,
'Cash & cash equivalent\nm USD 2017' ,
'Total Liabilities and Equity\nm USD 2017' ,
'Short Term Debt, Net\nm USD 2017' ,
'Long Term Debt, Net\nm USD 2017' ,
'Number of employees\n2017' ,
'Export revenue\nm USD 2017' ,
'Costs of employees\nm USD 2017' ,
'Research & Development expenses\nm USD 2017' ,
'Cash flow\nm USD 2017' ,
'EBITDA\nm USD 2017' ,
'Profit margin (%)\n2017' ,
'Export revenue / Operating revenue (%)\n2017' ,
'R&D expenses / Operating revenue (%)\n2017', 
'Current ratio (x)\n2017' ,
'Liquidity ratio (x)\n2017' ,
'Profit per employee (th)\nth USD 2017' ,
'Operating revenue per employee (th)\nth USD 2017' ,
'Costs of employees / Operating revenue (%)\n2017' ,
'Market price - year end\nUSD 2017' ,
'Market price - high\nUSD 2017' ,
'Market price - low\nUSD 2017' ,
'Earnings per share\nUSD 2017' ,
'Nominal value\n2017' ,
'Market capitalisation (mil)\nm USD 2017' ,
'Cash flow per share\nUSD 2017' ,
'Capital expenditure per share\nUSD 2017' ,
'Earnings per share\nUSD 2017' ,
'Operating revenue (Turnover) per share\nUSD 2017' ,
'Operating profit per share\nUSD 2017' ,
'Dividends per share\nUSD 2017' ,
'Book Value per share\nUSD 2017' ,
'Tangible Book Value per share\nUSD 2017' ,
'Long Term Liabilities per share\nUSD 2017' ,
'Working Capital per share\nUSD 2017' 
 ]

In [189]:
col2 = [
'iBVDid',
'oper_turnover',
'PL_beforetax',
'wcapital',
'cash',
'TLE',
'ST_debt',
'LT_debt',
'empl',
'EXP',
'cost_empl',
'RD',
'cashflow',
'EBITDA',
'profit_margin',
'ER_OR',
'RD_OR',
'current_ratio',
'iliquidity_ratio',
'profit_empl',
'OR_empl',
'cost_empl_OR',
'MP_current',
'MP_high',
'MP_low',
'Eshare',
'nvalue',
'mcapital',
'CF_share',
'expen_share',
'EPS',
'OperPS',
'OPPS',
'DPS',
'BVPS',
'TBVPS',
'LTLPS',
'WCPS'
]

In [190]:
rcomp_2017_selected = rcomp_2017[col1]
rcomp_2017_selected.columns = col2

In [191]:
rp_2018 = r_df[r_df['rdate_year']==2018]
rp_2018

,Unnamed: 0,pheadline,pnumber,ptype,pstatus,iexpen,PBD,iname,iBVDid,gname,...,WGI_VA,WGI_pstabilityNV,WGI_GE,WGI_RQ,WGI_RL,WGI_CC,ipri_d,ipri,adate_year,rdate_year
54026,54026,Chailease plans is to invest in Indonesia,783185728,New,Completed Assumed,4.93,Sales Office,"CHAILEASE HOLDING CO., LTD",KYFEB52226,"CHAILEASE HOLDING CO., LTD",...,0.492122,1.145670,1.204366,0.976408,0.773855,0.496426,5332,NaN,<NA>,2018
54060,54060,"400 Gradi may open a restaurant in Texas, USA",980972025,New,Completed Assumed,1.8,Entertainment,400 GRADI SA PTY LTD,AU621514994,NaN,...,1.428863,1.002703,1.596495,1.903537,1.714284,1.806460,8124,8329.0,<NA>,2018
54459,54459,NH Hotel Group plans to open 15 hotels in France,718855696,New,Rumour,n.a.,Hotels,NH HOTEL GROUP SA,ESA28027944,MINOR INTERNATIONAL PCL,...,1.065460,0.295743,1.002136,0.949106,0.968263,0.613605,7184,6520.0,<NA>,2018
54489,54489,Aquazzura planning to open luxury shoe stores ...,690600895,New,Completed Assumed,n.a.,Retail,AQUAZZURA ITALIA SRL,IT06263170489,AQUAZZURA INVESTMENT LTD,...,1.046784,0.350245,0.413884,0.726411,0.246396,0.235666,7178,5993.0,<NA>,2018
54615,54615,Aquazzura planning to open luxury shoe stores ...,609409615,New,Completed Assumed,n.a.,Retail,AQUAZZURA ITALIA SRL,IT06263170489,AQUAZZURA INVESTMENT LTD,...,1.046784,0.350245,0.413884,0.726411,0.246396,0.235666,7849,5993.0,<NA>,2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72640,72640,Kempinski plans to open hotels in Asia,286257382,New,Completed Assumed,23.94,Hotels,KEMPINSKI AG,DE2010022434,K INVESTMENTS INC.,...,1.423473,0.598785,1.619633,1.763705,1.629487,1.946862,NaN,7909,<NA>,2018
72641,72641,"Kempinski plans to open hotels in Rome, Italy",115167406,New,Completed Assumed,23.94,Hotels,KEMPINSKI AG,DE2010022434,K INVESTMENTS INC.,...,1.423473,0.598785,1.619633,1.763705,1.629487,1.946862,5993,7909,<NA>,2018
72642,72642,Massdiscounters planning to open discounted go...,467634415,New,Completed Assumed,1.44,Retail,MASSDISCOUNTERS (PTY) LTD,ZA197101081507,WALMART INC.,...,0.658973,-0.219112,0.340379,0.129762,-0.102711,-0.023047,4983,6348,<NA>,2018
72643,72643,Beijing Mobike Technology plans to open bicycl...,253248985,New,Completed Assumed,4.81,Sales Office,"BEIJING MOBIKE TECHNOLOGY CO., LTD",CN9402252135,MEITUAN DIANPING,...,-1.447654,-0.291253,0.477128,-0.185244,-0.201747,-0.271265,5317,5904,<NA>,2018
72644,72644,Tartine plans to open a 4 bakery's in South Korea,739805526,New,Completed Assumed,99.72,Manufacturing,TARTINE BAKERY INC.,US141438061L,NESTLE SA,...,1.045040,0.474065,1.576998,1.621254,1.513504,1.328681,6447,8124,<NA>,2018

In [192]:
col2.remove('iBVDid')
rp_2018.drop(col2,axis=1, inplace=True)

c:\users\sneha\appdata\local\programs\python\python39\lib\site-packages\pandas\core\frame.py:4305: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [193]:
len(rcomp_2017_selected)

1430

In [194]:
rcomp_2017_selected = rcomp_2017_selected[rcomp_2017_selected['iBVDid'].notna()]
len(rcomp_2017_selected)

1430

In [195]:
rp_consolidated_2018 = rp_2018.merge(rcomp_2017_selected, on = 'iBVDid', how = 'left')
rp_consolidated_2018

,Unnamed: 0,pheadline,pnumber,ptype,pstatus,iexpen,PBD,iname,iBVDid,gname,...,CF_share,expen_share,EPS,OperPS,OPPS,DPS,BVPS,TBVPS,LTLPS,WCPS
0,54026,Chailease plans is to invest in Indonesia,783185728,New,Completed Assumed,4.93,Sales Office,"CHAILEASE HOLDING CO., LTD",KYFEB52226,"CHAILEASE HOLDING CO., LTD",...,n.a.,n.a.,0.26511,0.967904,n.a.,n.a.,1.488374,n.a.,n.a.,n.a.
1,54060,"400 Gradi may open a restaurant in Texas, USA",980972025,New,Completed Assumed,1.8,Entertainment,400 GRADI SA PTY LTD,AU621514994,NaN,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.
2,54459,NH Hotel Group plans to open 15 hotels in France,718855696,New,Rumour,n.a.,Hotels,NH HOTEL GROUP SA,ESA28027944,MINOR INTERNATIONAL PCL,...,0.555276,n.a.,0.134322,5.332086,0.375381,0.08635,3.944496,3.045022,2.493344,-0.179895
3,54489,Aquazzura planning to open luxury shoe stores ...,690600895,New,Completed Assumed,n.a.,Retail,AQUAZZURA ITALIA SRL,IT06263170489,AQUAZZURA INVESTMENT LTD,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.
4,54615,Aquazzura planning to open luxury shoe stores ...,609409615,New,Completed Assumed,n.a.,Retail,AQUAZZURA ITALIA SRL,IT06263170489,AQUAZZURA INVESTMENT LTD,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3661,72640,Kempinski plans to open hotels in Asia,286257382,New,Completed Assumed,23.94,Hotels,KEMPINSKI AG,DE2010022434,K INVESTMENTS INC.,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.
3662,72641,"Kempinski plans to open hotels in Rome, Italy",115167406,New,Completed Assumed,23.94,Hotels,KEMPINSKI AG,DE2010022434,K INVESTMENTS INC.,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.
3663,72642,Massdiscounters planning to open discounted go...,467634415,New,Completed Assumed,1.44,Retail,MASSDISCOUNTERS (PTY) LTD,ZA197101081507,WALMART INC.,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.
3664,72643,Beijing Mobike Technology plans to open bicycl...,253248985,New,Completed Assumed,4.81,Sales Office,"BEIJING MOBIKE TECHNOLOGY CO., LTD",CN9402252135,MEITUAN DIANPING,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.
3665,72644,Tartine plans to open a 4 bakery's in South Korea,739805526,New,Completed Assumed,99.72,Manufacturing,TARTINE BAKERY INC.,US141438061L,NESTLE SA,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.

## 2019 Rdatewith 2018 company data

In [203]:
rcomp_2018 = pd.read_excel('Rdate_Companies_2018.xlsx',sheet_name='Results')
rcomp_2018.columns

Index(['Unnamed: 0', 'Company name Latin alphabet',
       'Operating revenue (Turnover)\nm USD 2018',
       'P/L before tax\nm USD 2018', 'Working capital\nm USD 2018',
       'Cash & cash equivalent\nm USD 2018',
       'Total Liabilities and Equity\nm USD 2018',
       'Short Term Debt, Net\nm USD 2018', 'Long Term Debt, Net\nm USD 2018',
       'Number of employees\n2018', 'Export revenue\nm USD 2018',
       'Costs of employees\nm USD 2018',
       'Research & Development expenses\nm USD 2018', 'Cash flow\nm USD 2018',
       'EBITDA\nm USD 2018', 'Profit margin (%)\n2018',
       'Export revenue / Operating revenue (%)\n2018',
       'R&D expenses / Operating revenue (%)\n2018', 'Current ratio (x)\n2018',
       'Liquidity ratio (x)\n2018', 'Profit per employee (th)\nth USD 2018',
       'Operating revenue per employee (th)\nth USD 2018',
       'Costs of employees / Operating revenue (%)\n2018',
       'Propensity to invest date\n2018', 'Propensity to invest\n2018',
       'Propensity to invest score\n2018', 'Stock split ratio\n2018',
       'Market price - year end\nUSD 2018', 'Market price - high\nUSD 2018',
       'Market price - low\nUSD 2018', 'Market price - open\nUSD 2018',
       'Shares outstanding \nth 2018', 'Nominal value\n2018',
       'Market capitalisation (mil)\nm USD 2018',
       'Earnings per share\nUSD 2018', 'Cash flow per share\nUSD 2018',
       'Capital expenditure per share\nUSD 2018',
       'Operating revenue (Turnover) per share\nUSD 2018',
       'Operating profit per share\nUSD 2018', 'Dividends per share\nUSD 2018',
       'Book Value per share\nUSD 2018',
       'Tangible Book Value per share\nUSD 2018',
       'Long Term Liabilities per share\nUSD 2018',
       'Working Capital per share\nUSD 2018', 'BvD ID number'],
      dtype='object')

In [204]:
col1 = [
'BvD ID number',
'Operating revenue (Turnover)\nm USD 2018' ,
'P/L before tax\nm USD 2018' ,
'Working capital\nm USD 2018' ,
'Cash & cash equivalent\nm USD 2018' ,
'Total Liabilities and Equity\nm USD 2018' ,
'Short Term Debt, Net\nm USD 2018' ,
'Long Term Debt, Net\nm USD 2018' ,
'Number of employees\n2018' ,
'Export revenue\nm USD 2018' ,
'Costs of employees\nm USD 2018' ,
'Research & Development expenses\nm USD 2018' ,
'Cash flow\nm USD 2018' ,
'EBITDA\nm USD 2018' ,
'Profit margin (%)\n2018' ,
'Export revenue / Operating revenue (%)\n2018' ,
'R&D expenses / Operating revenue (%)\n2018', 
'Current ratio (x)\n2018' ,
'Liquidity ratio (x)\n2018' ,
'Profit per employee (th)\nth USD 2018' ,
'Operating revenue per employee (th)\nth USD 2018' ,
'Costs of employees / Operating revenue (%)\n2018' ,
'Market price - year end\nUSD 2018' ,
'Market price - high\nUSD 2018' ,
'Market price - low\nUSD 2018' ,
'Earnings per share\nUSD 2018' ,
'Nominal value\n2018' ,
'Market capitalisation (mil)\nm USD 2018' ,
'Cash flow per share\nUSD 2018' ,
'Capital expenditure per share\nUSD 2018' ,
'Earnings per share\nUSD 2018' ,
'Operating revenue (Turnover) per share\nUSD 2018' ,
'Operating profit per share\nUSD 2018' ,
'Dividends per share\nUSD 2018' ,
'Book Value per share\nUSD 2018' ,
'Tangible Book Value per share\nUSD 2018' ,
'Long Term Liabilities per share\nUSD 2018' ,
'Working Capital per share\nUSD 2018' 
 ]

In [205]:
col2 = [
'iBVDid',
'oper_turnover',
'PL_beforetax',
'wcapital',
'cash',
'TLE',
'ST_debt',
'LT_debt',
'empl',
'EXP',
'cost_empl',
'RD',
'cashflow',
'EBITDA',
'profit_margin',
'ER_OR',
'RD_OR',
'current_ratio',
'iliquidity_ratio',
'profit_empl',
'OR_empl',
'cost_empl_OR',
'MP_current',
'MP_high',
'MP_low',
'Eshare',
'nvalue',
'mcapital',
'CF_share',
'expen_share',
'EPS',
'OperPS',
'OPPS',
'DPS',
'BVPS',
'TBVPS',
'LTLPS',
'WCPS'
]

In [206]:
rcomp_2018_selected = rcomp_2018[col1]
rcomp_2018_selected.columns = col2

In [207]:
rp_2019 = r_df[r_df['rdate_year']==2019]
rp_2019

,Unnamed: 0,pheadline,pnumber,ptype,pstatus,iexpen,PBD,iname,iBVDid,gname,...,WGI_VA,WGI_pstabilityNV,WGI_GE,WGI_RQ,WGI_RL,WGI_CC,ipri_d,ipri,adate_year,rdate_year
72662,72662,Agrisal may open hotels in Ecuador,696709069,New,Rumour,n.a.,Hotels,AGRICOLA INDUSTRIAL SALVADORENA SA,SV06142507530019,NaN,...,0.138374,-0.127452,-0.465440,0.021638,-0.762460,-0.552565,4803,4707,<NA>,2019
72664,72664,J-Star Motion plans to open a controllers manu...,674492759,New,Rumour,n.a.,Manufacturing,J-STAR MOTION SDN BHD,NaN,ZHEJIANG JIECHANG LINEAR MOTION TECHNOLOGY CO....,...,-0.043429,0.110277,0.998686,0.673141,0.590945,0.247523,6623,6623,<NA>,2019
72665,72665,J-Star Motion plans to open an electric linear...,669133339,New,Rumour,n.a.,Manufacturing,J-STAR MOTION SDN BHD,NaN,ZHEJIANG JIECHANG LINEAR MOTION TECHNOLOGY CO....,...,-0.043429,0.110277,0.998686,0.673141,0.590945,0.247523,6623,6623,<NA>,2019
72668,72668,"Agrisal to open a hotel in Trujillo, Peru",574585312,New,Rumour,n.a.,Hotels,AGRICOLA INDUSTRIAL SALVADORENA SA,SV06142507530019,NaN,...,0.138374,-0.127452,-0.465440,0.021638,-0.762460,-0.552565,5139,4707,<NA>,2019
72670,72670,Agrisal may open hotels in Bolivia,518640961,New,Rumour,n.a.,Hotels,AGRICOLA INDUSTRIAL SALVADORENA SA,SV06142507530019,NaN,...,0.138374,-0.127452,-0.465440,0.021638,-0.762460,-0.552565,3930,4707,<NA>,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86868,86868,Oyo plans to open Oyo Hotels & Homes brand hot...,562372036,New,Rumour,n.a.,Hotels,ORAVEL STAYS PVT LTD,IN0008565743,ORAVEL STAYS PVT LTD,...,0.293989,-0.702768,0.171554,-0.160556,-0.030758,-0.233254,NaN,5820.0,<NA>,2019
86869,86869,Oyo plans to open Oyo Hotels & Homes brand hot...,523642464,New,Rumour,n.a.,Hotels,ORAVEL STAYS PVT LTD,IN0008565743,ORAVEL STAYS PVT LTD,...,0.293989,-0.702768,0.171554,-0.160556,-0.030758,-0.233254,6278.0,5820.0,<NA>,2019
86874,86874,Oyo plans to open Oyo Hotels & Homes brand hot...,387828716,New,Rumour,n.a.,Hotels,ORAVEL STAYS PVT LTD,IN0008565743,ORAVEL STAYS PVT LTD,...,0.293989,-0.702768,0.171554,-0.160556,-0.030758,-0.233254,6195.0,5820.0,<NA>,2019
86879,86879,Saudi Basic plans to open a methanol manufactu...,327369715,New,Completed Assumed,119.15,Manufacturing,SAUDI BASIC INDUSTRIES CORPORATION SJSC,SA30020GS,SAUDI BASIC INDUSTRIES CORPORATION SJSC,...,-1.616917,-0.427996,0.306445,-0.068195,0.168556,0.274639,8202.0,6278.0,<NA>,2019
86880,86880,Cenizaro plans to open a The Residence brand h...,320226372,New,Completed Assumed,22.97,Hotels,CENIZARO PTE LTD,SG200822765H,GOLDVEIN HOLDINGS PTE. LTD.,...,-0.183365,1.531602,2.221086,2.161377,1.878559,2.159477,NaN,8462.0,<NA>,2019

In [208]:
col2.remove('iBVDid')
rp_2019.drop(col2,axis=1, inplace=True)

c:\users\sneha\appdata\local\programs\python\python39\lib\site-packages\pandas\core\frame.py:4305: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [209]:
len(rcomp_2018_selected)

1242

In [210]:
rcomp_2018_selected = rcomp_2018_selected[rcomp_2018_selected['iBVDid'].notna()]
len(rcomp_2018_selected)

1242

In [211]:
rp_consolidated_2019 = rp_2019.merge(rcomp_2018_selected, on = 'iBVDid', how = 'left')
rp_consolidated_2019

,Unnamed: 0,pheadline,pnumber,ptype,pstatus,iexpen,PBD,iname,iBVDid,gname,...,CF_share,expen_share,EPS,OperPS,OPPS,DPS,BVPS,TBVPS,LTLPS,WCPS
0,72662,Agrisal may open hotels in Ecuador,696709069,New,Rumour,n.a.,Hotels,AGRICOLA INDUSTRIAL SALVADORENA SA,SV06142507530019,NaN,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.
1,72664,J-Star Motion plans to open a controllers manu...,674492759,New,Rumour,n.a.,Manufacturing,J-STAR MOTION SDN BHD,NaN,ZHEJIANG JIECHANG LINEAR MOTION TECHNOLOGY CO....,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,72665,J-Star Motion plans to open an electric linear...,669133339,New,Rumour,n.a.,Manufacturing,J-STAR MOTION SDN BHD,NaN,ZHEJIANG JIECHANG LINEAR MOTION TECHNOLOGY CO....,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,72668,"Agrisal to open a hotel in Trujillo, Peru",574585312,New,Rumour,n.a.,Hotels,AGRICOLA INDUSTRIAL SALVADORENA SA,SV06142507530019,NaN,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.
4,72670,Agrisal may open hotels in Bolivia,518640961,New,Rumour,n.a.,Hotels,AGRICOLA INDUSTRIAL SALVADORENA SA,SV06142507530019,NaN,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3027,86868,Oyo plans to open Oyo Hotels & Homes brand hot...,562372036,New,Rumour,n.a.,Hotels,ORAVEL STAYS PVT LTD,IN0008565743,ORAVEL STAYS PVT LTD,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.
3028,86869,Oyo plans to open Oyo Hotels & Homes brand hot...,523642464,New,Rumour,n.a.,Hotels,ORAVEL STAYS PVT LTD,IN0008565743,ORAVEL STAYS PVT LTD,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.
3029,86874,Oyo plans to open Oyo Hotels & Homes brand hot...,387828716,New,Rumour,n.a.,Hotels,ORAVEL STAYS PVT LTD,IN0008565743,ORAVEL STAYS PVT LTD,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.
3030,86879,Saudi Basic plans to open a methanol manufactu...,327369715,New,Completed Assumed,119.15,Manufacturing,SAUDI BASIC INDUSTRIES CORPORATION SJSC,SA30020GS,SAUDI BASIC INDUSTRIES CORPORATION SJSC,...,3.2584,n.a.,1.913067,15.134667,3.326134,1.173333,19.683201,18.532268,5.368267,3.1224
3031,86880,Cenizaro plans to open a The Residence brand h...,320226372,New,Completed Assumed,22.97,Hotels,CENIZARO PTE LTD,SG200822765H,GOLDVEIN HOLDINGS PTE. LTD.,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.

In [212]:
df_projects = p_consolidated_2014
df_projects = df_projects.append(p_consolidated_2015, ignore_index=True )
df_projects = df_projects.append(p_consolidated_2016, ignore_index=True)
df_projects = df_projects.append(p_consolidated_2017, ignore_index=True)
df_projects = df_projects.append(p_consolidated_2018, ignore_index=True)
df_projects = df_projects.append(p_consolidated_2019, ignore_index=True)
df_projects = df_projects.append(rp_consolidated_2014, ignore_index=True)
df_projects = df_projects.append(rp_consolidated_2015, ignore_index=True)
df_projects = df_projects.append(rp_consolidated_2016, ignore_index=True)
df_projects = df_projects.append(rp_consolidated_2017, ignore_index=True)
df_projects = df_projects.append(rp_consolidated_2018, ignore_index=True)
df_projects = df_projects.append(rp_consolidated_2019, ignore_index=True)

df_projects.to_csv('Final_Projects_2020.csv')